.main-outer-container-one {
  color: $text-color-default;
  @include outer-container();
  padding-top: $padding;
  .main-top-cell {
    //display: block;
    height: $main-top-cell-height;
    margin-top: $margin;
    background-color: $blue;
    color: $white;
    font-size: $font-size-m;
    line-height: $font-size-m;
    //box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transition: all $transition-time-fast ease;
    display: flex;
    align-items: center;
    &:hover {
      background-color: $blue-hover;
    }
    .main-icon-1,
    .main-icon-2,
    .main-icon-3,
    .main-icon-4,
    .main-icon-5,
    .main-icon-6,
    .main-icon-7,
    .main-icon-8 {
      height: $icon-big;
      width: $main-icon-cell-width;
      background-size: contain;
      border-right: 1px solid white;
    }
    .main-icon-1 {
      background: url('../img/icon/icon_workstation.png') 100% 100% no-repeat;
      background-position: center;
    }
    .main-icon-2 {
      background: url('../img/icon/icon_laptop.png') 100% 100% no-repeat;
      background-position: center;
    }
    .main-icon-3 {
      background: url('../img/icon/icon_tablet.png') 100% 100% no-repeat;
      background-position: center;
    }
    .main-icon-4 {
      background: url('../img/icon/icon_ebook.png') 100% 100% no-repeat;
      background-position: center;
    }
    .main-icon-5 {
      background: url('../img/icon/icon_apple-monitor.png') 100% 100% no-repeat;
      background-position: center;
    }
    .main-icon-6 {
      background: url('../img/icon/icon_cellphone.png') 100% 100% no-repeat;
      background-position: center;
    }
    .main-icon-7 {
      background: url('../img/icon/1.png') 100% 100% no-repeat;
      background-position: center;
    }
    .main-icon-8 {
      background: url('../img/icon/icon_building.png') 100% 100% no-repeat;
      background-position: center;
    }
    .main-top-text {
      padding-left: $padding;
    }
  }
  //Классы для имитации карусели начало
  .main-carousel {
    height: $main-carousel-height;
    margin-top: $margin-long;
    background-image: url('../img/images/1.jpg');
    background-size: cover;
    padding: 32px 18px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .carousel-arrow {
      width: 3rem;
      height: 3rem;
      background: url('../img/icon/icon_arrows.png') 100% 100% no-repeat;
      background-position: center;
      &-right {
        background: url('../img/icon/icon_arrows-right.png') 100% 100% no-repeat;
        background-position: center;
      }
      &:hover{
        opacity: 0.5;
        background-color: $blue;
      }
    }

    .main-carousel-container {
      display: flex;
      align-items: center;

      .main-carousel-promo {
        width: 470px;
        height: 224px;
        opacity: 0.9;
        background-color: white;
        border: 1px solid white;
        padding: 32px;
        margin-left: 32px;
        .test-1 {
          font-size: 24px;
          font-weight: 700;
          line-height: 20px;
          margin-bottom: 26px;
        }
        .test-2 {
          height: 54px;
          text-overflow: clip;
          overflow: hidden;
          font-size: 16px;
          font-weight: 400;
          line-height: 18px;
          margin-bottom: 24px;
        }
      }
    }
  }
  .main-carousel-bar {
    height: $main-top-cell-height/2;
    display: flex;
    justify-content: center;
    align-items: center;
    .trial-carousel {
      display: block;
      width: 48px;
      height: 16px;
      margin-right: 13px;
      background-color: #ebeff8;
      transition: all $transition-time-fast ease;
      &:first-child {
        background-color: $blue;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover{
        background-color: $blue;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      }
    }
  }
  //Классы для имитации карусели окончание
}
.main-about {
  background-color: $gray-main-bg;
  .main-outer-container-two {
    @include outer-container();
    padding-top: $padding-long;
    padding-bottom: $padding-long;

    //Вынесено из main-two-cell-2

    .main-two-cell-2-h {
      font-size: 1.125rem;
      line-height: 3rem;
      font-weight: $bold;
      text-transform: uppercase;
      vertical-align: middle;
    }
    .main-two-cell-2-img {
      //@include size(100% 68px);
      @include size(100% 4rem);
      background: url('../img/images/2.jpg') 100% 100% no-repeat;
      background-position: center;
      background-size: cover;
      margin-bottom: 1rem;

    }
    .main-two-cell-2-h2 {
      font-size: 1rem;
      //line-height: 1.125rem;
      line-height: 1.25rem;
      font-weight: $bold;
      margin-bottom: 1rem;
    }
    .main-two-cell-2-text {
      font-size: 0.875rem;
      line-height: 1rem;
      height: 3rem;
      overflow: hidden;
      text-overflow: clip;
      margin-bottom: 1rem;
    }
    .main-two-cell-2-text-mini {
      font-size: 0.75rem;
      line-height: 1.125em;
    }
    .main-two-cell-2-bot {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $margin;
    }
    .main-two-cell-2-date {
      font-weight: $lite;
    }
    //Окончание
    .main-two-cell-1,
    .main-two-cell-2 {
      //height: 592px; //временная величина, удалить после определения вложения
      background-color: $white;
      padding-bottom: 1rem;
    }
    .main-two-cell-1 {
      &-promo-h,
      &-promo,
      &-btn {
        @include size(100% $height-one-and-half);
        padding: 0 2rem;
        display: block;
      }
      &-promo-h {
        color: $text-color-default;
        font-size: 1.125rem;
        line-height: 3rem;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        vertical-align: middle;
        &-border {
          border-bottom: 1px solid $gray-footer-bg;
        }
      }
      &-promo {
        transition: all $transition-time-fast ease;
        font-size: $font-size-m;
        line-height: $height-one-and-half;
        vertical-align: middle;
        color: $text-color-default;

        &-border {
          border-bottom: 1px solid $gray-footer-bg;
          transition: all $transition-time-fast ease;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .main-two-cell-1-promo-price {
            font-weight: $font-weight-bold;
            color: $blue;
          }
        }
        &:hover {
          background-color: $gray-main-bg;
          .main-two-cell-1-promo-border {
            border-bottom: $gray-main-bg;
          }
        }
      }
      &-promo-btn {
        padding-top: 1rem;
        display: flex;
        justify-content: center;
      }
    }
    .main-two-cell-2 {
      padding: 0 2rem;
      font-size: $font-size-s;
      line-height: $line-height-s;
      .main-two-cell-2-a/*,
      .main-two-cell-2-b */{
        padding-bottom: $padding-long;
        //border: 1px dashed blue;
      }
//Выносим в общий класс для main-outer-container-two Начало
      /*.main-two-cell-2-h {
        font-size: $font-size-l;
        line-height: $height-one-and-half;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        vertical-align: middle;
      }
      .main-two-cell-2-img {
        @include size(100% 68px);
        background: url('../img/images/2.jpg') 100% 100% no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: $margin;

      }
      .main-two-cell-2-h2 {
        font-size: $font-size-m;
        line-height: $line-height-m;
        font-weight: $font-weight-bold;
        margin-bottom: $margin;
      }
      .main-two-cell-2-text {
        height: $height-one-and-half;
        overflow: hidden;
        text-overflow: clip;
        margin-bottom: $margin;
      }
      .main-two-cell-2-bot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $margin;
      }
      .main-two-cell-2-date {
        font-weight: $lite;
      }*/
//Окончание
      .main-two-cell-2-b {
        .main-two-cell-2-img {
          //@include size(100% 68px);
          @include size(100% 4rem);
          background: url('../img/images/3.jpg') 100% 100% no-repeat;
          background-position: center;
          background-size: cover;
        }
        .main-two-cell-2-btn {
          margin-bottom: $margin;
          display: flex;
          justify-content: center;
        }
      }

    }
    .main-two-cell-3 {
      &-1,
      &-2 {
        padding: 0 $padding-long;
        background-color: $white;
        .main-two-cell-2-bot {
          margin-bottom: 0;
          font-size: 0;
        }
        .main-two-cell-social {
          //@include size(100% 68px);//согласно исправленной высоты изображения 64+4
          display: flex;
          justify-content: flex-start;
          .main-two-cell-2-ava {
            //@include size(68px 68px);
            @include size(4rem 4rem);
            background: url('../img/icon/avatar_boykodmitriy.png') 100% 100% no-repeat;
            background-position: center;
            background-size: contain;
          }
          .main-two-cell-social-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding-left: 1rem;
            .main-two-cell-2-h2 {
              margin: 0;
            }
            .social-link {
              margin-right: 1rem;
            }
          }
        }
        .main-two-cell-2-text {
          margin-top: 1rem;
          margin-bottom: 0;
          height: 6rem;
        }
      }
      &-1 {
        margin-bottom: 2rem;
      }
      &-2 {
        .main-two-cell-2-h {
          line-height: 1.5rem;
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
        .input-class {
          @include size(100% 3rem);
          border: 1px solid $blue-hover;
          padding-left: 4rem;
          background: url('../img/icon/icon_man.png') 1rem 1rem no-repeat;
          background-position: center;
          background-position-x: 1rem;
          margin-bottom: 1rem;
          &:last-child {
            background: url('../img/icon/icon_phone_bottom.png') 1rem 1rem no-repeat;
            background-position: center;
            background-position-x: 1rem;
          }
        }
        .main-two-cell-2-text-mini {
          line-height: 1.375em; // подгон макета под первые 2 колонки
          padding-bottom: 1rem;
        }
        .main-two-cell-2-btn {
          padding-bottom: 1rem;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
.main-outer-container-three {
  @include outer-container();
  padding-top: 2rem;
  padding-bottom: 2rem;
  .main-three-cell-1 {
    padding-bottom: 1.5rem;
    .text-h1 {
      padding-bottom: 1rem;
      line-height: 2rem;
      vertical-align: middle;
    }
    .cell-1 {
      @include size(100% 4rem);
      margin-bottom: 1rem;
      padding-right: 2rem;
    }
    .cell-2,
    .cell-3,
    .cell-4 {
      @include size(100% 2rem);
      padding-left: 2rem;
      margin-bottom: 1rem;
      background: url('../img/icon/icon_check.png') 100% 100% no-repeat;
      background-position: center left;
    }
    .cell-4 {
      @include size(100% 3rem);
    }
    .cell-5 {
      margin-bottom: 1rem;
      .cross-link-blue {
        line-height: 1rem;
      }
    }
  }
  .main-three-cell-2 {
    padding-bottom: 1.5rem;
    .text-h1 {
      line-height: 2rem;
      vertical-align: middle;
      //vertical-align: bottom;
      padding-bottom: 0.5rem;
      //border: 1px solid black;
    }
    .cell-11,
    .cell-12,
    .cell-13,
    .cell-14,
    .cell-15 {
      display: block;
      line-height: 2rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 3rem;
      vertical-align: middle;
      color: $text-color-default;
      background: url('../img/icon/mini/icon_workstation-.png') 100% 100% no-repeat;
      background-position: center;
      background-position-x: 0.5rem;
      &:hover {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
      }
    }
    .cell-12 {
      background: url('../img/icon/mini/icon_monoblock.png') 100% 100% no-repeat;
      background-position: center;
      background-position-x: 0.5rem;
    }
    .cell-13 {
      background: url('../img/icon/mini/icon_laptop-.png') 100% 100% no-repeat;
      background-position: center;
      background-position-x: 0.5rem;
    }
    .cell-14 {
      background: url('../img/icon/mini/icon_tablet-.png') 100% 100% no-repeat;
      background-position: center left;
      background-position-x: 0.75rem;//подгонка узких иконок
    }
    .cell-15 {
      background: url('../img/icon/mini/icon_ebook-.png') 100% 100% no-repeat;
      background-position: center left;
      background-position-x: 0.875rem;//подгонка узких иконок
      margin-bottom: 0.5rem;
    }
    .cell-16 {
      //padding-top: 1rem;
      .cross-link-blue {
        line-height: 1rem;
      }
    }
  }
  .main-three-cell-3 {
    padding-top: 2.5rem;
    .cell-17,
    .cell-18,
    .cell-19,
    .cell-20,
    .cell-21 {
      display: block;
      line-height: 2rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 3rem;
      vertical-align: middle;
      color: $text-color-default;
      background: url('../img/icon/mini/icon_apple-monitor-.png') 100% 100% no-repeat;
      background-position: center;
      background-position-x: 0.5rem;
      &:hover {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
      }
    }
    .cell-18 {
      background: url('../img/icon/mini/icon_cellphone-.png') 100% 100% no-repeat;
      background-position: center;
      background-position-x: 0.875rem;//подгонка узких иконок
    }
    .cell-19 {
      background: url('../img/icon/mini/icon_monitor.png') 100% 100% no-repeat;
      background-position: center;
      background-position-x: 0.5rem;
    }
    .cell-20 {
      background: url('../img/icon/mini/1.png') 100% 100% no-repeat;
      background-position: center;
      background-position-x: 0.5rem;//подгонка узких иконок
    }
    .cell-21 {
      background: url('../img/icon/mini/icon_building-.png') 100% 100% no-repeat;
      background-position: center;
      background-position-x: 0.5rem;//подгонка узких иконок
    }
  }
  .main-three-cell-4,
  .main-three-cell-5 {
    height: 1rem;
    margin-bottom: 2rem;

    border: 1px dashed blue;
  }
  .main-three-cell-6 {
    height: 144px;

    border: 1px dashed blue;
  }
}