.button-about {
  display: block;
  width: $button-about-width;
  height: $height-def;
  background-color: $aquamarine;
  border-radius: 3px; //design value
  box-shadow: 0 1px 4px rgba(64, 212, 126, 0.3); //design value
  color: white;
  font-size: $font-def;
  line-height: $height-def;
  text-align: center;
  vertical-align: middle;
  transition: all $transition-time-fast ease;
  &:hover {
    background-color: $aquamarine-hover;
    color: $white;
  }
}