.text-img {
  @include size(100% 4rem);
  background: url('../img/images/2.jpg') 100% 100% no-repeat;
  background-position: center;
  background-size: cover;
}
.text-h-sale {
  font-size: 1.75rem;
  font-weight: $bold;
  line-height: 1.5rem;
  text-transform: uppercase;
}
.text-h1,
.block-h1{
  color: $text;
  font-size: 1.125rem;
  font-weight: $bold;
  text-transform: uppercase;
  vertical-align: middle;
}
.text-h2,
.block-h2{
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: $bold;
}
.text-block-16 {
  font-size: 1rem;
  color: $text;
  font-weight: $normal;
}
.text-s,
.text-block-14{
  font-size: 0.875rem;
  line-height: 1rem;
  overflow: hidden;
  text-overflow: clip;
}
.text-xs,
.text-block-12{
  font-size: 0.75rem;
  //line-height: 1.125em;
  line-height: 1rem;
}
.text-date {
  font-weight: $lite;
  font-size: 0.875rem;
  line-height: 1rem;
}