.footer-all {
  background-color: $gray-footer-bg;
  color: $text;
  font-size: 0;
  .footer-contacts {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    padding-left: 2.75rem;
    background: url('../img/icons/used/icon_map_bottom.png') left 5px center no-repeat;
  }
  .footer-outer-container {
    @include outer-container();
    .footer-top-cell-1,
    .footer-top-cell-2,
    .footer-top-cell-3,
    .footer-top-cell-4 {
      @include span-columns(3);
      height: $logo;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1rem;
      line-height: 1.125rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }
    .footer-top-cell-1 {
      background: url('../img/logo/logo.png') left no-repeat;
    }
    .footer-top-cell-3 {
      .footer-contacts {
        background: url('../img/icons/used/icon_time_bottom.png') left center no-repeat;
      }
    }
    .footer-top-cell-4 {
      @include omega();
      align-items: flex-end;
      .footer-contacts {
        background: url('../img/icons/used/icon_phone_bottom.png') left center no-repeat;
        text-align: right;
        &-phone {
          color: $text; //edge
          font-size: 1.5rem;
          line-height: 1.5rem;
        }
        &-info {
          color: $aquamarine;
          font-size: 1rem;
          line-height: 1rem;
        }
      }
    }
    .footer-middle-line {
      height: 1px;
      background-color: $white;
    }
    .footer-bottom-cell {
      height: 2rem;
      font-size: 0.75rem;
      font-weight: $lite;
      line-height: 2rem;
      color: $gray-copyright; //color: #6a6a6a;
    }
  }
}
