$pc: new-breakpoint(max-width 1280px 12);
$tablet: new-breakpoint(max-width 768px 10);
$mobile: new-breakpoint(max-width 480px 4);

/*$gutter: modular-scale(3, 1em, $golden) !default;*/
/*$visual-grid: true;*/
