<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <title>О нас</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<!--header первая версия. Начало-->
<!--<header class="header-all box-shadow-header">
    <div class="header-top-side">
        <nav class="header-menu container">
            <div class="justify">
                <div class="h-menu-c">
                    <div class="header-button-mob">
                        <div class="justify">
                            <div class="header-menu-button-block">
                                <div class="header-menu-button-line"></div>
                                <div class="header-menu-button-line"></div>
                                <div class="header-menu-button-line"></div>
                            </div>
                            <span>Меню</span>
                        </div>
                    </div>
                    <div class="header-menu-list">
                        <a href="service.html" class="header-button header-button-m">
                            <div class="h-button-normalizer">
                                <span>Услуги</span>
                            </div>
                        </a>
                        <a href="price.html" class="header-button header-button-m">
                            <div class="h-button-normalizer">
                                <span>Цены</span>
                            </div>
                        </a>
                        <a href="sales.html" class="header-button header-button-m">
                            <div class="h-button-normalizer">
                                <span>Скидки и акции</span>
                            </div>
                        </a>
                        <a href="warranty.html" class="header-button header-button-m">
                            <div class="h-button-normalizer">
                                <span>Гарантии</span>
                            </div>
                        </a>
                        <a href="press.html" class="header-button header-button-m">
                            <div class="h-button-normalizer">
                                <span>Статьи</span>
                            </div>
                        </a>
                        <a href="about.html" class="header-button active_page">
                            <div class="h-button-normalizer">
                                <span>О нас</span>
                            </div>
                        </a>
                        <a href="contacts.html" class="header-button header-button-m">
                            <div class="h-button-normalizer">
                                <span>Контакты</span>
                            </div>
                        </a>
                    </div>
                </div>
                <a href="/" class="social-link-m"></a>
            </div>
        </nav>
    </div>
    <div class="header-bottom-side">
        <a href="/" class="header-infocell header-infocell-1">
            <div class="justify start">
                <div class="h-logo"></div>
            </div>
        </a>
        <div class="header-infocell header-infocell-2 phone-animation">
            <div class="justify column">
                <div class="h-phone">(831) 424-99-90</div>
                <a href="/" class="h-service">Заказать звонок</a>
            </div>
        </div>
        <div class="header-infocell header-infocell-3">
            <div class="justify end">
                <div class="justify column i-start">
                    <a href="/" class="h-cell-3">Пн.-Сб.: с <b>10:00</b> до <b>19:00</b></a>
                    <a href="/" class="h-cell-4">г. Нижний новгород,<br>пр-т. Ленина, 36, оф. 111</a>
                </div>
            </div>
        </div>
    </div>
</header>-->
<!--header первая версия. Окончание-->
<!--header вторая версия. Начало-->
<header class="header-all box-shadow-header">
    <div class="h-top-bg">
        <div class="container">
            <div class="justify">
                <div class="h-button-mobile active_page">
                    <div class="justify">
                        <div class="h-button-mobile-block">
                            <div class="h-button-mobile-block-line"></div>
                            <div class="h-button-mobile-block-line"></div>
                            <div class="h-button-mobile-block-line"></div>
                        </div>
                        <span class="h-button-mobile-text">Меню</span>
                    </div>
                    <div class="v-top-menu">
                            <span class="s-button">
                                <a class="v-button">
                                    <div class="h-button-normalizer">
                                        <span class="">Услуги</span>
                                        <div class="triangle-all">
                                            <div class="triangle-5">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="h-service-menu text-block-16">
                                    <a href="custom_work_pc.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт компьютеров</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_mono.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт моноблоков</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_notebook.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт ноутбуков</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_pad.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт планшетов</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_ebook.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт электронных книг</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_apple.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт техники Apple</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_monitor.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт мониторов</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_1c.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Настройка 1С</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_ur.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Обслуживание организаций</span>
                                        </div>
                                    </a>
                                </div>
                            </span>
                        <a href="price.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Цены</span>
                            </div>
                        </a>
                        <a href="sales.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Акции</span>
                            </div>
                        </a>
                        <a href="warranty.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Гарантии</span>
                            </div>
                        </a>
                        <a href="press.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Статьи</span>
                            </div>
                        </a>
                        <a href="about.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>О нас</span>
                            </div>
                        </a>
                        <a href="contacts.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Контакты</span>
                            </div>
                        </a>
                    </div>
                </div>
                <!--Меню для мобильных приложений. Окончание-->
                <!--Блок горизонтального меню. Начало-->
                <div class="h-top-menu">
                    <span class="s-button">
                        <a href="service.html" class="h-button">
                            <div class="h-button-normalizer">
                                <span class="">Услуги</span>
                                <div class="triangle-all">
                                    <div class="triangle-5">
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="h-service-menu text-block-16">
                            <a href="custom_work_pc.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт компьютеров</span>
                                </div>
                            </a>
                            <a href="custom_work_mono.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт моноблоков</span>
                                </div>
                            </a>
                            <a href="custom_work_notebook.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт ноутбуков</span>
                                </div>
                            </a>
                            <a href="custom_work_pad.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт планшетов</span>
                                </div>
                            </a>
                            <a href="custom_work_ebook.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт электронных книг</span>
                                </div>
                            </a>
                            <a href="custom_work_apple.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт техники Apple</span>
                                </div>
                            </a>
                            <a href="custom_work_monitor.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт мониторов</span>
                                </div>
                            </a>
                            <a href="custom_work_1c.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Настройка 1С</span>
                                </div>
                            </a>
                            <a href="custom_work_ur.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Обслуживание организаций</span>
                                </div>
                            </a>
                        </div>
                    </span>
                    <a href="price.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Цены</span>
                        </div>
                    </a>
                    <a href="sales.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Акции</span>
                        </div>
                    </a>
                    <a href="warranty.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Гарантии</span>
                        </div>
                    </a>
                    <a href="press.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Статьи</span>
                        </div>
                    </a>
                    <a href="about.html" class="h-button active_page">
                        <div class="h-button-normalizer">
                            <span>О нас</span>
                        </div>
                    </a>
                    <a href="contacts.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Контакты</span>
                        </div>
                    </a>
                </div>
                <a href="/" class="social-link-m"></a>
            </div>
        </div>
    </div>
    <div class="header-bottom-side">
        <a href="/" class="header-infocell header-infocell-1">
            <div class="justify start">
                <div class="h-logo"></div>
            </div>
        </a>
        <div class="header-infocell header-infocell-2 phone-animation">
            <div class="justify column">
                <div class="h-phone">(831) 424-99-90</div>
                <a href="/" class="h-service">Заказать звонок</a>
            </div>
        </div>
        <div class="header-infocell header-infocell-3">
            <div class="justify end">
                <div class="justify column i-start">
                    <a href="/" class="h-cell-3">Пн.-Сб.: с <b>10:00</b> до <b>19:00</b></a>
                    <a href="/" class="h-cell-4">г. Нижний Новгород,<br>пр-т. Ленина, 36, оф. 111</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!--header вторая версия. Окончание-->
<main>
    <div class="container margin-b1">
        <div class="breadcrumbs">
            <a href="index.html" class="cross-link">Главная</a>
            <span>&nbsp;/&nbsp;</span>
            <a href="about.html" class="cross-link-blue"> О нас</a>
        </div>
    </div>
    <div class="white-bg">
        <div class="container container-about-1">
            <div class="cell-about-1">
                <div class="block-h1 padding-b-05">Про сервисный центр "Айти-НН"</div>

                <div class="text-block-14">
                    <img src="assets/img/images/img-about-vechicle.png" class="img-about-vechicle">
                    <p>
                        Наша сервисная компания работает на российском рынке уже более 5 лет. Начало ее деятельности приходится на 2011 год. За этот период времени был накоплен огромный практический опыт, который сегодня является базисом для качественного обслуживания наших клиентов. У нас работают только высококвалифицированные специалисты, которым вы можете доверить свой любимый гаджет.
                    </p>
                    <span class="h3">Что же предлагает Вам сервисный центр «АЙТИ-НН» сегодня</span>
                    <p>
                        Мы оказываем полный спектр услуг по ремонту различных цифровых устройств. В широкий перечень входит: ремонт ноутбуков, компьютеров, смартфонов, моноблоков, планшетов и электронных книг. Наряду с услугами, которые предлагаются частным клиентам компания также оказывает комплексную поддержку предприятиям и организациям (настройка сети, серверов, внедрение и поддержка 1С).
                    </p>
                    <p>
                        Наша первая цель – это предоставление удобного сервиса для своих клиентов, поэтому при обращении к нам Вы получаете:
                    </p>
                    <ul>
                        <li>
                            индивидуальный подход к каждому заказчику;
                        </li>
                        <li>
                            комплексные услуги, включающие в себя диагностику неработающего устройства;
                        </li>
                        <li>
                            при необходимости осуществляется доставка.
                        </li>
                    </ul>
                    <p>
                        Наша вторая цель – это предоставление выгодного сервиса, поэтому при обращении к нам Вы можете рассчитывать на:
                    </p>
                    <ul>
                        <li>
                            предоставление гарантии на все выполненные ремонтные работы;
                        </li>
                        <li>
                            приемлемые цены, которые искусственно не занижаются с целью «накрутить» их в дальнейшем за счет оказания второстепенных услуг;
                        </li>
                        <li>
                            окончательная стоимость ремонта всегда согласовывается с заказчиком.
                        </li>
                    </ul>
                    <p>
                        Наша третья цель – это обеспечить быстрый сервис для клиента, поэтому мы создали собственный склад запчастей, который позволяет выполнить ремонт вашего устройства в кратчайшие сроки, а при этом мы используем только профессиональное оборудование.
                    </p>
                    <span class="h3">Наши главные преимущества</span><br>
                    <div class="brand-text-c1">
                        <p>Ключевые характеристики нашей работы:</p>
                        <ul>
                            <li>
                                <span class="h2">А</span>бсолютное качество;
                            </li>
                            <li>
                                <span class="h2">И</span>нженеры – профессионалы;
                            </li>
                            <li>
                                <span class="h2">Т</span>очная стоимость ремонта;
                            </li>
                            <li>
                                <span class="h2">И</span>деальный сервис.
                            </li>
                        </ul>
                    </div>
                    <div class="brand-text-c2">
                        <p>Что не характерно для нашей работы:</p>
                        <ul>
                            <li>
                                <span class="h2">Н</span>еправдоподобно низкие цены;
                            </li>
                            <li>
                                <span class="h2">Н</span>ереальные сроки.
                            </li>
                        </ul>
                    </div>
                    <div class="brand-text-c3">
                        <p>
                            Качество наших услуг подтверждаются отзывами реально существующих людей.
                        </p>
                    </div>
                </div>
            </div>
            <!--<div class="cell-about-2">
            -->
                <!--<img src="assets/img/images/img-about-vechicle.png" class="img-about-vechicle">-->
            <!--</div>
            -->
            <div class="cell-about-3 box-shadow margin-b2">
                <div class="justify wrap normalizer-about ">
                    <a href="" class="cell-about-3-facility">
                        <div class="justify column">
                            <img class="img-facility" src="assets/img/images/about/img-facility-1.png">
                            <div class="text-block-16">Гарантия на все <br>услуги</div>
                        </div>
                        <div class="cell-about-3-facility-text">
                            <div class="cell-about-3-facility-text-sp">
                                В нашем сервисы Вы получаете гарантию на любой ремонт а также запчасти. Гарантийный ремонт производится полностью за наш счет.
                            </div>
                        </div>
                    </a>
                    <a href="" class="cell-about-3-facility">
                        <div class="justify column">
                            <img class="img-facility" src="assets/img/images/about/img-facility-2.png">
                            <div class="text-block-16">Постоянные<br> акции и скидки</div>
                        </div>
                        <div class="cell-about-3-facility-text">
                            <div class="cell-about-3-facility-text-sp">
                                У нас есть как постоянно действующие, так и сезонные акции на наши услуги, которые обеспечат Вам значительную экономию при ремонте.
                            </div>
                        </div>
                    </a>
                    <a href="" class="cell-about-3-facility">
                        <div class="justify column">
                            <img class="img-facility" src="assets/img/images/about/img-facility-3.png">
                            <div class="text-block-16">Профессиональные<br>инженера</div>
                        </div>
                        <div class="cell-about-3-facility-text">
                            <div class="cell-about-3-facility-text-sp">
                                Наши мастера имеют соответствующие сертификаты, а главное - огромный практический опыт, что обеспечивает высокое качество работ.
                            </div>
                        </div>
                    </a>
                    <a href="" class="cell-about-3-facility">
                        <div class="justify column">
                            <img class="img-facility" src="assets/img/images/about/img-facility-4.png">
                            <div class="text-block-16">Собственный склад<br>запчастей</div>
                        </div>
                        <div class="cell-about-3-facility-text">
                            <div class="cell-about-3-facility-text-sp">
                                На нашем складе имеется большой запас запчастей ко всем основным моделям ремонтируемой техники.
                            </div>
                        </div>
                    </a>
                    <a href="" class="cell-about-3-facility">
                        <div class="justify column">
                            <img class="img-facility" src="assets/img/images/about/img-facility-5.png">
                            <div class="text-block-16">Срочный<br>ремонт</div>
                        </div>
                        <div class="cell-about-3-facility-text">
                            <div class="cell-about-3-facility-text-sp">
                                Работы по устранению большинства типичных неисправностей мы выполняем в течение 1 часа.
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="whitesmoke-bg">
        <div class="main-triangle-container margin-b1">
            <div class="white-triangle triangle">
                <div class="triangle-left"></div>
                <div class="triangle-right"></div>
            </div>
        </div>
        <div class="container container-about-2">
            <div class="cell-about-4 box-shadow">
                <div class="block-h1">рабочий процесс ремонта планшета</div>
                <img src="assets/img/images/about/img-about-process-1.png" class="img-about-process-1">
                <div class="text-block-14">
                    <!--Добавить текст-->
                </div>
            </div>
            <div class="cell-about-5 box-shadow">
                <div class="block-h1">Ресепшн в нашем офисе</div>
                <img src="assets/img/images/about/img-about-process-2.png" class="img-about-process-1">
                <div class="text-block-14">
                    <!--Добавить текст-->
                </div>
            </div>
            <div class="cell-5a">
                <div class="justify end">
                    <a href="" class="trial-carousel"></a>
                    <a href="" class="trial-carousel"></a>
                    <a href="" class="trial-carousel"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="white-bg">
        <div class="container container-about-3 ">
            <div class="cell-about-6-1 box-shadow">
                <div class="justify start">
                    <img src="assets/img/icons/avatar_boykodmitriy.png" class="img-about-avatar">
                    <div class="justify column i-start ">
                        <div class="block-h2">Дмитрий Бойко</div>
                        <div class="text-block-14">Услуга: Ремонт телефона</div>
                        <div class="justify start i-start">
                            <img src="assets/img/icons/icon_vk.png" class="img-about-vk">
                            <div class="text-block-14">25.05.2016</div>
                        </div>
                    </div>
                </div>
                <div class="text-block-14 margin-t1">
                    "Обратился с вопросом ремонта телефона, ребята сделали быстро, по адекватной цене. Очень доволен, буду их рекомендовать."
                </div>
            </div>
            <div class="cell-about-6-2 box-shadow">
                <div class="justify start">
                    <img src="assets/img/icons/avatar_boykodmitriy.png" class="img-about-avatar">
                    <div class="justify column i-start ">
                        <div class="block-h2">Оксана Верютина</div>
                        <div class="text-block-14">Услуга: Ремонт планшета</div>
                        <div class="justify start i-start">
                            <img src="assets/img/icons/icon_vk.png" class="img-about-vk">
                            <div class="text-block-14">07.04.2016</div>
                        </div>
                    </div>
                </div>
                <div class="text-block-14 margin-t1">
                    "Перестали работать кнопки на планшете. По рекомендации обратилась в данный сервсный центр, решили проблему при мне в течении 30 минут. Огромнов спасибо мастеру Александру!."
                </div>
            </div>
            <div class="cell-about-6-3 box-shadow">
                <div class="justify start">
                    <img src="assets/img/icons/avatar_boykodmitriy.png" class="img-about-avatar">
                    <div class="justify column i-start ">
                        <div class="block-h2">Максим Гусев</div>
                        <div class="text-block-14">Услуга: Ремонт Apple</div>
                        <div class="justify start i-start">
                            <img src="assets/img/icons/icon_vk.png" class="img-about-vk">
                            <div class="text-block-14">23.02.2016</div>
                        </div>
                    </div>
                </div>
                <div class="text-block-14 margin-t1">
                    "Огромная благодарность за ремонт iPad mini! Все быстро и по разумной цене, а главное очень качественно, будем теперь обращаться только к Вам!."
                </div>
            </div>
            <div class="cell-about-6a">
                <div class="justify center">
                    <a href="" class="cross-link-blue">Все отзывы</a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer-all">
    <div class="footer-outer-container">
        <a href="/" class="footer-top-cell-1"></a>
        <div class="footer-top-cell-2">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    г. Нижний новгород,<br>пр-т. Ленина, 36, оф. 111
                </div>
            </div>
        </div>
        <div class="footer-top-cell-3">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    Пн.-Сб.: с 10:00 до 19:00<br>Вс.: выходной
                </div>
            </div>
        </div>
        <div class="footer-top-cell-4">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    <div class="footer-contacts-phone">(831) 424-99-90</div>
                    <a href="" class="footer-contacts-info">Заказать звонок</a>
                </div>
            </div>
        </div>
        <div class="footer-middle-line span-12 omega"></div>
        <div class="footer-bottom-cell span-12 omega">
            <div class="justify">
                <div>
                    <span>© 2016 СЕРВИСНЫЙ ЦЕНТР «АЙТИ-НН»,&nbsp;</span>
                    <span class="white-space">Все права защищены</span>
                </div>
                <a href="/" class="social-link-m"></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>