<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content="">
    <title>Контакты</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<header class="header-all box-shadow-header">
    <div class="h-top-bg">
        <div class="container">
            <div class="justify">
                <div class="h-button-mobile active_page">
                    <div class="justify">
                        <div class="h-button-mobile-block">
                            <div class="h-button-mobile-block-line"></div>
                            <div class="h-button-mobile-block-line"></div>
                            <div class="h-button-mobile-block-line"></div>
                        </div>
                        <span class="h-button-mobile-text">Меню</span>
                    </div>
                    <div class="v-top-menu">
                            <span class="s-button">
                                <a class="v-button">
                                    <div class="h-button-normalizer">
                                        <span class="">Услуги</span>
                                        <div class="triangle-all">
                                            <div class="triangle-5">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="h-service-menu text-block-16">
                                    <a href="custom_work_pc.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт компьютеров</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_mono.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт моноблоков</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_notebook.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт ноутбуков</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_pad.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт планшетов</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_ebook.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт электронных книг</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_apple.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт техники Apple</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_monitor.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт мониторов</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_1c.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Настройка 1С</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_ur.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Обслуживание организаций</span>
                                        </div>
                                    </a>
                                </div>
                            </span>
                        <a href="price.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Цены</span>
                            </div>
                        </a>
                        <a href="sales.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Акции</span>
                            </div>
                        </a>
                        <a href="warranty.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Гарантии</span>
                            </div>
                        </a>
                        <a href="press.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Статьи</span>
                            </div>
                        </a>
                        <a href="about.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>О нас</span>
                            </div>
                        </a>
                        <a href="comments.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Отзывы</span>
                            </div>
                        </a>
                        <a href="contacts.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Контакты</span>
                            </div>
                        </a>
                    </div>
                </div>
                <!--Меню для мобильных приложений. Окончание-->
                <!--Блок горизонтального меню. Начало-->
                <div class="h-top-menu">
                    <span class="s-button">
                        <a href="service.html" class="h-button">
                            <div class="h-button-normalizer">
                                <span class="">Услуги</span>
                                <div class="triangle-all">
                                    <div class="triangle-5">
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="h-service-menu text-block-16">
                            <a href="custom_work_pc.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт компьютеров</span>
                                </div>
                            </a>
                            <a href="custom_work_mono.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт моноблоков</span>
                                </div>
                            </a>
                            <a href="custom_work_notebook.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт ноутбуков</span>
                                </div>
                            </a>
                            <a href="custom_work_pad.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт планшетов</span>
                                </div>
                            </a>
                            <a href="custom_work_ebook.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт электронных книг</span>
                                </div>
                            </a>
                            <a href="custom_work_apple.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт техники Apple</span>
                                </div>
                            </a>
                            <a href="custom_work_monitor.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт мониторов</span>
                                </div>
                            </a>
                            <a href="custom_work_1c.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Настройка 1С</span>
                                </div>
                            </a>
                            <a href="custom_work_ur.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Обслуживание организаций</span>
                                </div>
                            </a>
                            <a href="comments.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Отзывы</span>
                                </div>
                            </a>
                        </div>
                    </span>
                    <a href="price.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Цены</span>
                        </div>
                    </a>
                    <a href="sales.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Акции</span>
                        </div>
                    </a>
                    <a href="warranty.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Гарантии</span>
                        </div>
                    </a>
                    <a href="press.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Статьи</span>
                        </div>
                    </a>
                    <a href="about.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>О нас</span>
                        </div>
                    </a>
                    <a href="contacts.html" class="h-button active_page">
                        <div class="h-button-normalizer">
                            <span>Контакты</span>
                        </div>
                    </a>
                </div>
                <a href="/" class="social-link-m"></a>
            </div>
        </div>
    </div>
    <div class="header-bottom-side">
        <a href="/" class="header-infocell header-infocell-1">
            <div class="justify start">
                <div class="h-logo"></div>
            </div>
        </a>
        <div class="header-infocell header-infocell-2 phone-animation">
            <div class="justify column">
                <div class="h-phone">(831) 424-99-90</div>
                <a href="/" class="h-service">Заказать звонок</a>
            </div>
        </div>
        <div class="header-infocell header-infocell-3">
            <div class="justify end">
                <div class="justify column i-start">
                    <a href="/" class="h-cell-3">Пн.-Сб.: с <b>10:00</b> до <b>19:00</b></a>
                    <a href="/" class="h-cell-4">г. Нижний Новгород,<br>пр-т. Ленина, 36, оф. 111</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="main-container-contacts">
        <div class="breadcrumbs">
            <a href="/" class="cross-link"> Главная </a>
            <span>&nbsp;/&nbsp;</span>
            <a href="" class="cross-link-blue">Контакты</a>
        </div>
        <div class="c-block-1">
            <div class="c-block-1-a">
                <div class="c-normalizer">
                    <div class="block-h1">Контактная информация</div>
                    <div class="c-content c-img-1 justify start">
                        <span class="c-content-un" >(831) 424-99-90 |&nbsp;</span>
                        <a href="" class="aquamarine">Заказать звонок</a>
                    </div>
                    <div class="c-content c-img-2">
                        aitinn@gmail.com
                    </div>
                    <div class="c-content c-img-3">
                        aitinn
                    </div>
                    <div class="c-content c-img-4">
                        8314249990
                    </div>
                    <div class="block-h1">Время работы</div>
                    <div class="c-content c-img-5">
                        Пн.-Сб.: с <b>10:00</b> до <b>19:00</b>
                    </div>
                    <div class="block-h1">адрес</div>
                    <div class="c-content c-img-6">
                        г. Нижний Новгород,<br>пр-т. Ленина, 36, оф. 111
                    </div>
                </div>
            </div>
            <div class="c-block-1-b">
                <form method="post">
                <div class="c-normalizer">
                    <div class="block-h1">Форма обратной связи</div>
                    <div class="c-content c-img-7">
                        <input class="c-input" type="text" name="login" placeholder="Ваше имя">
                    </div>
                    <div class="c-content c-img-8">
                        <input class="c-input" type="email" name="e-mail" placeholder="Эл. почта">
                    </div>
                    <div class="c-content c-img-9">
                        <input class="c-input c-comment" type="text" name="message" placeholder="Оставьте сообщение">
                    </div>
                    <div class="c-content">
                        <a href="" class="button-about">Отправить</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="c-block-2">
            <div class="c-block-2-a">
                <div class="c-normalizer">
                    <div class="block-h1">Расположение нашего офиса</div>
                    <div class="c-map"></div>
                </div>
            </div>
            <div class="c-block-2-b">
                <div class="c-normalizer">
                    <div class="block-h1">Схема проезда</div>
                    <div class="text-block-14 overflow">
                        На общественном транспорте: автобусы - 19, 40, 56, 58, 66, маршрутные такси - т10, т113, т117, т138, т37, т40, т42, т46, т59, т66, т67, т69, т76, т81, т83, т85, т98 до остановки "Станция метро "Заречная", далее 50 метров пешком через сквер в направлении гостиницы. В гостинице поднимаетесь по лестнице на 1 этаж и поворачиваете налево, наш офис находится в конце коридора. Либо на автомобиле - с проспекта Ленина поворачиваете на ул. Космонавта Комарова, и через 100 метров, проехав ж/д пути, поворачиваете налево и едете до гостиницы "Заречная"
                    </div>
                </div>
            </div>
            <div class="c-block-2-c">
                <div class="c-normalizer">
                    <div class="block-h1">Фотографии  сервисного центра</div>
                    <div class="justify c-carousel">
                        <a href="" class="carousel-arrow"></a>
                        <a href="" class="carousel-arrow"></a>
                    </div>
                    <div class="justify center">
                        <a href="" class="trial-carousel"></a>
                        <a href="" class="trial-carousel"></a>
                        <a href="" class="trial-carousel"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>
<footer class="footer-all">
    <div class="footer-outer-container">
        <a href="/" class="footer-top-cell-1"></a>
        <div class="footer-top-cell-2">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    г. Нижний Новгород,<br>пр-т. Ленина, 36, оф. 111
                </div>
            </div>
        </div>
        <div class="footer-top-cell-3">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    Пн.-Сб.: с 10:00 до 19:00<br>Вс.: выходной
                </div>
            </div>
        </div>
        <div class="footer-top-cell-4">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    <div class="footer-contacts-phone">(831) 424-99-90</div>
                    <a href="" class="footer-contacts-info">Заказать звонок</a>
                </div>
            </div>
        </div>
        <div class="footer-middle-line span-12 omega"></div>
        <div class="footer-bottom-cell span-12 omega">
            <div class="justify">
                <div>
                    <span>© 2016 СЕРВИСНЫЙ ЦЕНТР «АЙТИ-НН»,&nbsp;</span>
                    <span class="white-space">Все права защищены</span>
                </div>
                <a href="/" class="social-link-m"></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>