<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content="">
    <title>Ремонт после залития</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<header class="header-all box-shadow-header">
    <div class="h-top-bg">
        <div class="container">
            <div class="justify">
                <div class="h-button-mobile active_page">
                    <div class="justify">
                        <div class="h-button-mobile-block">
                            <div class="h-button-mobile-block-line"></div>
                            <div class="h-button-mobile-block-line"></div>
                            <div class="h-button-mobile-block-line"></div>
                        </div>
                        <span class="h-button-mobile-text">Меню</span>
                    </div>
                    <div class="v-top-menu">
                            <span class="s-button">
                                <a class="v-button">
                                    <div class="h-button-normalizer">
                                        <span class="">Услуги</span>
                                        <div class="triangle-all">
                                            <div class="triangle-5">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="h-service-menu text-block-16">
                                    <a href="custom_work_pc.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт компьютеров</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_mono.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт моноблоков</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_notebook.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт ноутбуков</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_pad.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт планшетов</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_ebook.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт электронных книг</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_apple.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт техники Apple</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_monitor.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт мониторов</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_1c.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Настройка 1С</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_ur.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Обслуживание организаций</span>
                                        </div>
                                    </a>
                                </div>
                            </span>
                        <a href="price.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Цены</span>
                            </div>
                        </a>
                        <a href="sales.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Акции</span>
                            </div>
                        </a>
                        <a href="warranty.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Гарантии</span>
                            </div>
                        </a>
                        <a href="press.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Статьи</span>
                            </div>
                        </a>
                        <a href="about.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>О нас</span>
                            </div>
                        </a>
                        <a href="comments.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Отзывы</span>
                            </div>
                        </a>
                        <a href="contacts.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Контакты</span>
                            </div>
                        </a>
                    </div>
                </div>
                <!--Меню для мобильных приложений. Окончание-->
                <!--Блок горизонтального меню. Начало-->
                <div class="h-top-menu">
                    <span class="s-button">
                        <a href="service.html" class="h-button active_page">
                            <div class="h-button-normalizer">
                                <span class="">Услуги</span>
                                <div class="triangle-all">
                                    <div class="triangle-5">
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="h-service-menu text-block-16">
                            <a href="custom_work_pc.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт компьютеров</span>
                                </div>
                            </a>
                            <a href="custom_work_mono.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт моноблоков</span>
                                </div>
                            </a>
                            <a href="custom_work_notebook.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт ноутбуков</span>
                                </div>
                            </a>
                            <a href="custom_work_pad.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт планшетов</span>
                                </div>
                            </a>
                            <a href="custom_work_ebook.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт электронных книг</span>
                                </div>
                            </a>
                            <a href="custom_work_apple.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт техники Apple</span>
                                </div>
                            </a>
                            <a href="custom_work_monitor.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт мониторов</span>
                                </div>
                            </a>
                            <a href="custom_work_1c.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Настройка 1С</span>
                                </div>
                            </a>
                            <a href="custom_work_ur.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Обслуживание организаций</span>
                                </div>
                            </a>
                            <a href="comments.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Отзывы</span>
                                </div>
                            </a>
                        </div>
                    </span>
                    <a href="price.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Цены</span>
                        </div>
                    </a>
                    <a href="sales.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Акции</span>
                        </div>
                    </a>
                    <a href="warranty.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Гарантии</span>
                        </div>
                    </a>
                    <a href="press.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Статьи</span>
                        </div>
                    </a>
                    <a href="about.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>О нас</span>
                        </div>
                    </a>
                    <a href="contacts.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Контакты</span>
                        </div>
                    </a>
                </div>
                <a href="/" class="social-link-m"></a>
            </div>
        </div>
    </div>
    <div class="header-bottom-side">
        <a href="/" class="header-infocell header-infocell-1">
            <div class="justify start">
                <div class="h-logo"></div>
            </div>
        </a>
        <div class="header-infocell header-infocell-2 phone-animation">
            <div class="justify column">
                <div class="h-phone">(831) 424-99-90</div>
                <a href="/" class="h-service">Заказать звонок</a>
            </div>
        </div>
        <div class="header-infocell header-infocell-3">
            <div class="justify end">
                <div class="justify column i-start">
                    <a href="/" class="h-cell-3">Пн.-Сб.: с <b>10:00</b> до <b>19:00</b></a>
                    <a href="/" class="h-cell-4">г. Нижний Новгород,<br>пр-т. Ленина, 36, оф. 111</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="breadcrumbs">
            <a href="index.html" class="cross-link">Главная</a>
            <span>&nbsp;/&nbsp;</span>
            <a href="sales.html" class="cross-link-blue">Услуги</a>
        </div>
    </div>
    <div class="main-container-1 ">
        <a href="custom_work_pc.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-1"></div>
                <div class="main-top-text">Ремонт<br>компьютеров</div>
            </div>
        </a>
        <a href="custom_work_notebook.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-2"></div>
                <div class="main-top-text">Ремонт<br>ноутбуков</div>
            </div>
        </a>
        <a href="custom_work_pad.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-3"></div>
                <div class="main-top-text">Ремонт<br>планшетов</div>
            </div>
        </a>
        <a href="custom_work_ebook.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-4"></div>
                <div class="main-top-text">Ремонт<br>электронных книг</div>
            </div>
        </a>
        <a href="custom_work_apple.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-5"></div>
                <div class="main-top-text">Ремонт<br>техники Apple</div>
            </div>
        </a>
        <a href="custom_work_phone.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-6"></div>
                <div class="main-top-text">Ремонт<br>телефонов</div>
            </div>
        </a>
        <a href="custom_work_1c.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-7"></div>
                <div class="main-top-text">Настройка 1С</div>
            </div>
        </a>
        <a href="custom_work_ur.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-8"></div>
                <div class="main-top-text">Обслуживание<br>организаций</div>
            </div>
        </a>
    </div>
    <!--Сервисные блоки окончание-->
    <div class="whitesmoke-bg">
        <div class="container container-custom-service-1">
            <div class="cell-custom-service-2">
                <div class="block-h">Ремонт после залития</div>
                <div class="block-s-image"></div>
                <div class="block-14">
                    <p>
                        Налить себе чашку кофе или чая и пойти работать за ноутбук: читать, просматривать почту или общаться в сети, пожалуй, такая ситуация знакома каждому. Попивать любимый напиток, сидя перед экраном своего лэптопа – это несомненно плюс, ведь это удобно и приятно. Но иногда в такой ситуации могут возникать и неприятные моменты, когда жидкость разливается и попадает на устройство.
                    </p>
                    <p>
                        Если все-таки это произошло с вами и был залит ноутбук что делать при этом:
                    </p>
                    <ul>
                        <li>
                            Во-первых, отключить устройство от питания (достать батарею и вытащить вилку зарядки из розетки), т. е. полностью обесточить.
                        </li>
                        <li>
                            Во-вторых, вытереть жидкость, которая видна сверху, используя при этом сухую мягкую ткань.
                        </li>
                        <li>
                            В-третьих, перевернуть ноутбук, по возможности приоткрыв для того, чтобы жидкость могла максимально вытечь.
                        </li>
                        <li>
                            В-четвертых, отнести устройство в сервисный центр на диагностику. Провести профессиональную диагностику и отремонтировать залитый ноутбук в Нижнем Новгороде вам помогут в нашем сервисном центре «АЙТИ-НН».
                        </li>
                    </ul>
                    <p>
                        В таких ситуациях многие пользователи часто допускают серьезную ошибку, которая заключается в том, что не обращаются в сервис и после того, как ноутбук просох включают его и продолжают работать на нем. Это со временем может привести к возникновению серьезных поломок и сэкономленные на проведении диагностики деньги могут превратиться в более существенные расходы.
                    </p>
                    <p>
                        Попробуем объяснить почему так происходит и отметим что в ноутбуке выходит из строя в первую очередь если он был залит.
                    </p>
                    <p>
                        После того как жидкость попадает вовнутрь устройства происходит процесс электролиза, комплектующие окисляются и перестают работать. Поэтому в этом вопросе важен фактор времени, а именно чем быстрее удастся избавиться от жидкости, тем выше шансы того, что пострадает минимальное количество комплектующих лэптопа и, следовательно, владелец сэкономит деньги на покупке новых запчастей. Избавиться от жидкости и полностью просушить лэптоп можно только полностью разобрав его.
                    </p>
                    <p>
                        Что страдает в первую очередь и с чем сталкивается пользователь:
                    </p>
                    <ul>
                        <li>
                            не работает клавиатура на ноутбуке после залития;
                        </li>
                        <li>
                            может выйти из строя материнская плата;
                        </li>
                        <li>
                            не работает жесткий диск.
                        </li>
                    </ul>
                    <p>
                        Серьезность проблемы также зависит от типа жидкости, которая была пролита на устройство, а именно залил ноутбук чаем пивом водой соком. Наиболее опасные жидкости, содержащие сахар, они наносят больший вред ноутбуку, чем чистая вода. Только своевременное обращение к специалистам сервиса «АЙТИ-НН» позволит свести к минимуму ущерб, причиненный вашему ноутбуку.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="white-bg">
        <div class="container container-custom-service-2">
            <div class="main-triangle-container margin-b1">
                <div class="triangle">
                    <div class="triangle-left"></div>
                    <div class="triangle-right"></div>
                </div>
            </div>
            <div class="cell-custom-service-3 box-shadow">
                <div class="service-table justify">
                    <div class="box-1 justify column i-start grow">
                        <div class="block-h1 border-bottom-sc">Услуга:</div>
                        <div class="text-block-16 border-bottom-sc">1. Обычная чистка</div>
                        <div class="text-block-16 border-bottom-sc">2. Полная чистка</div>
                    </div>
                    <div class="box-2 justify">
                        <div class="box-2-1 justify column i-end">
                            <div class="block-h1 border-bottom-sc">Цена:</div>
                            <div class="text-block-16 border-bottom-sc"><span class="blue-color"><b>6 000</b></span> р.</div>
                            <div class="text-block-16 border-bottom-sc"><span class="blue-color"><b>6 000</b></span> р.</div>
                        </div>
                        <div class="box-2-2 justify column i-start">
                            <div class="block-h1 border-bottom-sc  padding-l2">
                                <span class="b-line">Гарантия:</span>
                                <span class="b-block">Гар:</span>
                            </div>
                            <div class="text-block-16 border-bottom-sc  padding-l2"><span class="blue-color"><b>6</b></span> мес.</div>
                            <div class="text-block-16 border-bottom-sc  padding-l2"><span class="blue-color"><b>6</b></span> мес.</div>
                        </div>
                    </div>
                </div>
                <div class="service-info justify start i-start margin-t1">
                    <img class="img-user margin-r-15" src="assets/img/icons/avatar_boykodmitriy.png">
                    <div class="">
                        <div class="block-h2 margin-b1">ЧИСТКА НОУТБУКА С ПОЛНОЙ РАЗБОРКОЙ</div>
                        <div class="text-block-16 overflow margin-b1">
                            Для многих пользователей при выборе компьютера ключевыми критериями становятся его мобильность и портативность.
                        </div>
                        <a href="custom_press_01.html" class="cross-link-blue">Читать дальше</a>
                    </div>
                </div>
            </div>
            <div class="cell-custom-service-4 img-contact-cell box-shadow">
                <div class="block-h1">Оформите заявку онлайн и
                    <span class="blue-color white-space">получите скидку 10 %</span>
                </div>
                <div class="justify i-start">
                    <div class="input-block grow">
                        <form method="post">
                            <input class="input-class-check" type="text" name="check" placeholder="Выберите услугу">
                            <input class="input-class-name" type="tel" name="login" placeholder="Ваше имя">
                            <input class="input-class-phone" type="tel" name="phone" placeholder="Телефон">
                        </form>
                    </div>
                    <img class="img-operator" src="assets/img/icons/img_operator.png">
                </div>
                <div class="justify padding-l-05">
                    <a href="" class="button-about">Отправить</a>
                    <div class="text-block-12 padding-l-1">Наш мастер перезвоним Вам в течении 3-4 минут</div>
                </div>
            </div>
            <div class="cell-custom-service-5 carousel-block-2 box-shadow">
                <div class="block-h1">Обслуживаемые бренды</div>
                <div class="carousel-brand">
                    <a href="" class="carousel-arrow-mini"></a>
                    <div class="carousel-brand">
                        <a href="" class="cross-link-blue element-1">Lenovo</a>
                        <a href="" class="cross-link-blue element-2">MSI</a>
                        <a href="" class="cross-link-blue element-3">Samsung</a>
                        <!--<a href="" class="cross-link-blue element-4">ACER</a>
                        <a href="" class="cross-link-blue element-5">ASUS</a>
                        <a href="" class="cross-link-blue element-6">HP</a>-->
                    </div>
                    <a href="" class="carousel-arrow-mini"></a>
                </div>
            </div>
        </div>

    </div>
</main>
<footer class="footer-all">
    <div class="footer-outer-container">
        <a href="/" class="footer-top-cell-1"></a>
        <div class="footer-top-cell-2">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    г. Нижний новгород,<br>пр-т. Ленина, 36, оф. 111
                </div>
            </div>
        </div>
        <div class="footer-top-cell-3">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    Пн.-Сб.: с 10:00 до 19:00<br>Вс.: выходной
                </div>
            </div>
        </div>
        <div class="footer-top-cell-4">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    <div class="footer-contacts-phone">(831) 424-99-90</div>
                    <a href="" class="footer-contacts-info">Заказать звонок</a>
                </div>
            </div>
        </div>
        <div class="footer-middle-line span-12 omega"></div>
        <div class="footer-bottom-cell span-12 omega">
            <div class="justify">
                <div>
                    <span>© 2016 СЕРВИСНЫЙ ЦЕНТР «АЙТИ-НН»,&nbsp;</span>
                    <span class="white-space">Все права защищены</span>
                </div>
                <a href="/" class="social-link-m"></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>