<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <title>Что делать, если телефон попал в воду?</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<header class="header-all box-shadow-header">
    <div class="header-top-side">
        <nav class="header-menu container">
            <div class="justify">
                <div class="h-menu-c">
                    <div class="header-button-mob">
                        <div class="justify">
                            <div class="header-menu-button-block">
                                <div class="header-menu-button-line"></div>
                                <div class="header-menu-button-line"></div>
                                <div class="header-menu-button-line"></div>
                            </div>
                            <span>Меню</span>
                        </div>
                    </div>
                    <div class="header-menu-list">
                        <a href="service.html" class="header-button header-button-m">
                            <div class="h-button-normalizer">
                                <span>Услуги</span>
                            </div>
                        </a>
                        <a href="price.html" class="header-button header-button-m">
                            <div class="h-button-normalizer">
                                <span>Цены</span>
                            </div>
                        </a>
                        <a href="sales.html" class="header-button header-button-m">
                            <div class="h-button-normalizer">
                                <span>Скидки и акции</span>
                            </div>
                        </a>
                        <a href="warranty.html" class="header-button header-button-m">
                            <div class="h-button-normalizer">
                                <span>Гарантии</span>
                            </div>
                        </a>
                        <a href="press.html" class="header-button active_page">
                            <div class="h-button-normalizer">
                                <span>Статьи</span>
                            </div>
                        </a>
                        <a href="about.html" class="header-button header-button-m">
                            <div class="h-button-normalizer">
                                <span>О нас</span>
                            </div>
                        </a>
                        <a href="contacts.html" class="header-button header-button-m">
                            <div class="h-button-normalizer">
                                <span>Контакты</span>
                            </div>
                        </a>
                    </div>
                </div>
                <a href="/" class="social-link-m"></a>
            </div>
        </nav>
    </div>
    <div class="header-bottom-side">
        <a href="/" class="header-infocell header-infocell-1">
            <div class="justify start">
                <div class="h-logo"></div>
            </div>
        </a>
        <div class="header-infocell header-infocell-2 phone-animation">
            <div class="justify column">
                <div class="h-phone">(831) 424-99-90</div>
                <a href="/" class="h-service">Заказать звонок</a>
            </div>
        </div>
        <div class="header-infocell header-infocell-3">
            <div class="justify end">
                <div class="justify column i-start">
                    <a href="/" class="h-cell-3">Пн.-Сб.: с <b>10:00</b> до <b>19:00</b></a>
                    <a href="/" class="h-cell-4">г. Нижний Новгород,<br>пр-т. Ленина, 36, оф. 111</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="breadcrumbs">
            <a href="index.html" class="cross-link">Главная</a>
            <span>&nbsp;/&nbsp;</span>
            <a href="press.html" class="cross-link"> Статьи </a>
            <span>&nbsp;/&nbsp;</span>
            <a href="custom_press.html" class="cross-link-blue">Чистка ноутбука с полной разборкой</a>
        </div>
    </div>
    <div class="main-container-1 margin-b1">
        <a href="custom_work_pc.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-1"></div>
                <div class="main-top-text">Ремонт<br>компьютеров</div>
            </div>
        </a>
        <a href="custom_work_notebook.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-2"></div>
                <div class="main-top-text">Ремонт<br>ноутбуков</div>
            </div>
        </a>
        <a href="custom_work_pad.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-3"></div>
                <div class="main-top-text">Ремонт<br>планшетов</div>
            </div>
        </a>
        <a href="custom_work_ebook.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-4"></div>
                <div class="main-top-text">Ремонт<br>электронных книг</div>
            </div>
        </a>
        <a href="custom_work_apple.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-5"></div>
                <div class="main-top-text">Ремонт<br>техники Apple</div>
            </div>
        </a>
        <a href="custom_work_phone.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-6"></div>
                <div class="main-top-text">Ремонт<br>телефонов</div>
            </div>
        </a>
        <a href="custom_work_1c.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-7"></div>
                <div class="main-top-text">Настройка 1С</div>
            </div>
        </a>
        <a href="custom_work_ur.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-8"></div>
                <div class="main-top-text">Обслуживание<br>организаций</div>
            </div>
        </a>
    </div>

    <div class="whitesmoke-bg">
        <div class="main-triangle-container white-triangle">
            <div class="triangle">
                <div class="triangle-left"></div>
                <div class="triangle-right"></div>
            </div>
        </div>
        <div class="container c-press-container">
            <div class="c-press-block-1 box-shadow">
                <div class="c-press-cell-1">
                    <div class="block-h margin-b1">Полезные статьи</div>
                    <img src="assets/img/images/c-press/c-press-1.png" class="img-c-press margin-b1">
                    <div class="block-h2 margin-b1">
                        Стоит ли ремонтировать технику <br>самостоятельно?
                    </div>
                    <div class="text-block-14 margin-b1">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. <br>Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur.
                    </div>
                    <div class="justify margin-b2">
                        <a href="custom_press.html" class="cross-link-blue">Читать дальше</a>
                        <div class="mc2-block-2-date">30-02-2016</div>
                    </div>
                </div>
                <div class="c-press-cell-2">
                    <img src="assets/img/images/c-press/c-press-2.png" class="img-c-press margin-b1">
                    <div class="block-h2 margin-b1">
                        Как правильно организовать <br>
                        домашнюю сеть
                    </div>
                    <div class="text-block-14 margin-b1">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. <br>Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur.
                    </div>
                    <div class="justify margin-b2">
                        <a href="custom_press.html" class="cross-link-blue">Читать дальше</a>
                        <div class="mc2-block-2-date">24-02-2016</div>
                    </div>
                    <div class="justify center">
                        <a href="press.html" class="button-about">Все статьи</a>
                    </div>
                </div>
            </div>
            <div class="c-press-block-2 box-shadow">
                <div class="h1">Что делать, если телефон попал в воду?</div>
                <!--<img src="assets/img/images/c-press/c-press-3.png" class="img-c-press margin-b1">
                -->
                <p>
                    Мобильные телефоны и смартфоны можно с уверенностью назвать нашими повседневными помощниками. Они всегда с нами на работе и дома, в отпуске или на прогулке и даже некоторые из нас не расстаются с телефоном, когда принимают ванну. В свою очередь, такое частое и повсеместное применение этого гаджета значительно повышает шансы возникновения различных поломок. К наиболее часто встречающимся, как раз, можно отнести поломки, вызванные попаданием в телефон воды или иной жидкости. И не всегда причиной тому является небрежное или неаккуратное обращение с устройством, вот посудите сами. Вода может попасть в телефон, если намокнуть под дождем или, например, если взять смартфон мокрыми руками.
                </p>
                <p>
                    В независимости от того по какой причине жидкость попала в устройство существует ряд основных правил и действий, которые должен знать и применять любой владелец смартфона «утопленника». Условно их можно разделить на действия, которые может предпринять владелец гаджета самостоятельно и ремонт телефонов, который проводится специалистами в сервисном центре.
                </p>
                <span class="h3">Несколько правил как можно спасти залитый телефон самостоятельно</span>
                <p>
                    Итак, что нужно сделать в первую очередь, если смартфон попал в воду.
                </p>
                <p>
                    Во-первых, следует незамедлительно его выключить. Это позволит избежать возникновения короткого замыкания и серьезных поломок, связанных с этим. После выключения телефона как можно скорее следует вытащить из него элемент питания (батарею), SIM карту и карту памяти. Такие действия значительно снижают степень окисления внутренних деталей гаджета.
                </p>
                <p>
                    Во-вторых, по возможности разобрать смартфон. Что имеется в виду? Снять все защитные панели, чехлы и пленки. На этом этапе важна максимальная аккуратность, чтобы при разборке не повредить внутренние «хрупкие» элементы: платы, дисплей, шлейфы.
                </p>
                <p>
                    В-третьих, максимально просушить телефон. Тут выделим несколько возможных способов:
                </p>
                <ul>
                    <li>
                        промокнуть жидкость, используя мягкую ткань или салфетку;
                    </li>
                    <li>
                        выдуть жидкость посредством применения пылесоса;
                    </li>
                    <li>
                        поместить залитый смартфон в средство, которое обладает свойствами вытягивать влагу, например, рис, шарики силиконового геля.
                    </li>
                </ul>
                <p>
                    На этом этапе важно не торопиться сразу включать устройство, даже если оно выглядит сухим, лучше дать ему хорошо просохнуть в течение хотя бы 12 часов.
                </p>
                <p>
                    Внимание! Запрещено использовать для просушки фен.
                </p>
                <span class="h3">Как специалисты решают проблему залитого телефона</span>
                <p>
                    Конечно же, способ самостоятельно справиться с возникшей проблемой привлекает владельцев «утопленников» больше, нежели обращение к специалистам. Главная причина тому – отсутствие денежных затрат. Но всегда ли это так, а ответ на вопрос сколько стоит отремонтировать телефон в сервисном центре, настолько пугающий?
                </p>
                <p>
                    В первую очередь самостоятельная просушка может не дать качественного результата, так как большинство владельцев не обладают необходимыми знаниями, навыками, инструментами и оборудованием, которые требуются для этого.
                </p>
                <p>
                    Как доказательство тому, приведем пример последовательных действий, которые проводят специалисты сервисного центра, оказывая услугу ремонт залитого телефона:
                </p>
                <ol>
                    <li>
                        Проводят полную разборку и использую специальные инструменты отсоединяют материнскую плату, шлейф, дисплей.
                    </li>
                    <li>
                        Проводят полную диагностику устройства с целью выявления всех источников коррозий, используя для этого аппаратный метод.
                    </li>
                    <li>
                        Проводят очистку посредством погружения платы в ультразвуковую ванну, а при необходимости могут применить и механическую чистку.
                    </li>
                </ol>
                <p>
                    Подводя итог, можно сделать следующий вывод: самостоятельный способ скорое всего поможет справиться с проблемой, если телефон был извлечен из воды в течение нескольких секунд, а вот в иных случаях лучше обратиться в сервис, тем более что в стоимость услуг зачастую входит еще и гарантия на выполненные работы.
                </p>
                <!--<div class="text-date">Автор: Сергей Володин</div>
                -->
            </div>
        </div>
    </div>
</main>
<footer class="footer-all">
    <div class="footer-outer-container">
        <a href="/" class="footer-top-cell-1"></a>
        <div class="footer-top-cell-2">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    г. Нижний Новгород,<br>пр-т. Ленина, 36, оф. 111
                </div>
            </div>
        </div>
        <div class="footer-top-cell-3">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    Пн.-Сб.: с 10:00 до 19:00<br>Вс.: выходной
                </div>
            </div>
        </div>
        <div class="footer-top-cell-4">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    <div class="footer-contacts-phone">(831) 424-99-90</div>
                    <a href="" class="footer-contacts-info">Заказать звонок</a>
                </div>
            </div>
        </div>
        <div class="footer-middle-line span-12 omega"></div>
        <div class="footer-bottom-cell span-12 omega">
            <div class="justify">
                <div>
                    <span>© 2016 СЕРВИСНЫЙ ЦЕНТР «АЙТИ-НН»,&nbsp;</span>
                    <span class="white-space">Все права защищены</span>
                </div>
                <a href="/" class="social-link-m"></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>