<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content="">
    <title>Чистка ноутбука с полной разборкой</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<header class="header-all box-shadow-header">
    <div class="h-top-bg">
        <div class="container">
            <div class="justify">
                <div class="h-button-mobile active_page">
                    <div class="justify">
                        <div class="h-button-mobile-block">
                            <div class="h-button-mobile-block-line"></div>
                            <div class="h-button-mobile-block-line"></div>
                            <div class="h-button-mobile-block-line"></div>
                        </div>
                        <span class="h-button-mobile-text">Меню</span>
                    </div>
                    <div class="v-top-menu">
                            <span class="s-button">
                                <a class="v-button">
                                    <div class="h-button-normalizer">
                                        <span class="">Услуги</span>
                                        <div class="triangle-all">
                                            <div class="triangle-5">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="h-service-menu text-block-16">
                                    <a href="custom_work_pc.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт компьютеров</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_mono.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт моноблоков</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_notebook.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт ноутбуков</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_pad.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт планшетов</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_ebook.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт электронных книг</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_apple.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт техники Apple</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_monitor.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт мониторов</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_1c.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Настройка 1С</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_ur.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Обслуживание организаций</span>
                                        </div>
                                    </a>
                                </div>
                            </span>
                        <a href="price.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Цены</span>
                            </div>
                        </a>
                        <a href="sales.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Акции</span>
                            </div>
                        </a>
                        <a href="warranty.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Гарантии</span>
                            </div>
                        </a>
                        <a href="press.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Статьи</span>
                            </div>
                        </a>
                        <a href="about.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>О нас</span>
                            </div>
                        </a>
                        <a href="contacts.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Контакты</span>
                            </div>
                        </a>
                    </div>
                </div>
                <!--Меню для мобильных приложений. Окончание-->
                <!--Блок горизонтального меню. Начало-->
                <div class="h-top-menu">
                    <span class="s-button">
                        <a href="service.html" class="h-button">
                            <div class="h-button-normalizer">
                                <span class="">Услуги</span>
                                <div class="triangle-all">
                                    <div class="triangle-5">
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="h-service-menu text-block-16">
                            <a href="custom_work_pc.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт компьютеров</span>
                                </div>
                            </a>
                            <a href="custom_work_mono.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт моноблоков</span>
                                </div>
                            </a>
                            <a href="custom_work_notebook.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт ноутбуков</span>
                                </div>
                            </a>
                            <a href="custom_work_pad.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт планшетов</span>
                                </div>
                            </a>
                            <a href="custom_work_ebook.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт электронных книг</span>
                                </div>
                            </a>
                            <a href="custom_work_apple.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт техники Apple</span>
                                </div>
                            </a>
                            <a href="custom_work_monitor.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт мониторов</span>
                                </div>
                            </a>
                            <a href="custom_work_1c.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Настройка 1С</span>
                                </div>
                            </a>
                            <a href="custom_work_ur.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Обслуживание организаций</span>
                                </div>
                            </a>
                        </div>
                    </span>
                    <a href="price.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Цены</span>
                        </div>
                    </a>
                    <a href="sales.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Акции</span>
                        </div>
                    </a>
                    <a href="warranty.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Гарантии</span>
                        </div>
                    </a>
                    <a href="press.html" class="h-button active_page">
                        <div class="h-button-normalizer">
                            <span>Статьи</span>
                        </div>
                    </a>
                    <a href="about.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>О нас</span>
                        </div>
                    </a>
                    <a href="contacts.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Контакты</span>
                        </div>
                    </a>
                </div>
                <a href="/" class="social-link-m"></a>
            </div>
        </div>
    </div>
    <div class="header-bottom-side">
        <a href="/" class="header-infocell header-infocell-1">
            <div class="justify start">
                <div class="h-logo"></div>
            </div>
        </a>
        <div class="header-infocell header-infocell-2 phone-animation">
            <div class="justify column">
                <div class="h-phone">(831) 424-99-90</div>
                <a href="/" class="h-service">Заказать звонок</a>
            </div>
        </div>
        <div class="header-infocell header-infocell-3">
            <div class="justify end">
                <div class="justify column i-start">
                    <a href="/" class="h-cell-3">Пн.-Сб.: с <b>10:00</b> до <b>19:00</b></a>
                    <a href="/" class="h-cell-4">г. Нижний Новгород,<br>пр-т. Ленина, 36, оф. 111</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="breadcrumbs">
            <a href="index.html" class="cross-link">Главная</a>
            <span>&nbsp;/&nbsp;</span>
            <a href="press.html" class="cross-link"> Статьи </a>
            <span>&nbsp;/&nbsp;</span>
            <a href="custom_press_01.html" class="cross-link-blue">Чистка ноутбука с полной разборкой</a>
        </div>
    </div>
    <div class="main-container-1 margin-b1">
        <a href="custom_work_pc.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-1"></div>
                <div class="main-top-text">Ремонт<br>компьютеров</div>
            </div>
        </a>
        <a href="custom_work_notebook.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-2"></div>
                <div class="main-top-text">Ремонт<br>ноутбуков</div>
            </div>
        </a>
        <a href="custom_work_pad.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-3"></div>
                <div class="main-top-text">Ремонт<br>планшетов</div>
            </div>
        </a>
        <a href="custom_work_ebook.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-4"></div>
                <div class="main-top-text">Ремонт<br>электронных книг</div>
            </div>
        </a>
        <a href="custom_work_apple.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-5"></div>
                <div class="main-top-text">Ремонт<br>техники Apple</div>
            </div>
        </a>
        <a href="custom_work_phone.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-6"></div>
                <div class="main-top-text">Ремонт<br>телефонов</div>
            </div>
        </a>
        <a href="custom_work_1c.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-7"></div>
                <div class="main-top-text">Настройка 1С</div>
            </div>
        </a>
        <a href="custom_work_ur.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-8"></div>
                <div class="main-top-text">Обслуживание<br>организаций</div>
            </div>
        </a>
    </div>

    <div class="whitesmoke-bg">
        <div class="main-triangle-container white-triangle">
            <div class="triangle">
                <div class="triangle-left"></div>
                <div class="triangle-right"></div>
            </div>
        </div>
        <div class="container c-press-container">
            <div class="c-press-block-1 box-shadow">
                <div class="c-press-cell-1">
                    <div class="block-h margin-b1">Полезные статьи</div>
                    <img src="assets/img/images/c-press/c-press-1.png" class="img-c-press margin-b1">
                    <div class="block-h2 margin-b1">
                        ЧТО ДЕЛАТЬ, ЕСЛИ ТЕЛЕФОН ПОПАЛ В ВОДУ?
                    </div>
                    <div class="text-block-14 margin-b1">
                        Мобильные телефоны и смартфоны можно с уверенностью назвать наши повседневными помощниками. Они всегда с нами на работе и дома, в отпуске или на прогулке и даже некоторые из нас не расстаются с телефоном, когда принимают ванну. В свою очередь, такое частое и повсеместное применение этого гаджета значительно повышает шансы возникновения различных поломок.
                    </div>
                    <div class="justify margin-b2">
                        <a href="custom_press_02.html" class="cross-link-blue">Читать дальше</a>
                        <div class="text-date">14-06-2016</div>
                    </div>
                </div>
                <div class="c-press-cell-2">
                    <img src="assets/img/images/c-press/c-press-2.png" class="img-c-press margin-b1">
                    <div class="block-h2 margin-b1">
                        ЧТО ДЕЛАТЬ, ЕСЛИ НЕ РАБОТАЮТ USB ПОРТЫ НА НОУТБУКЕ?
                    </div>
                    <div class="text-block-14 margin-b1">
                        Стандарт USB применяется в компьютерном мире уже более 20 лет. И действительно сейчас уже, наверное, не найти таких пользователей, которые бы помнили те виды портов, что использовались производителям компьютеров до USB. Этот стандарт является наиболее универсальным, посредством его к ноутбуку легко можно подключать различные внешние устройства от мышки до навигатора, от смартфона до принтера.
                    </div>
                    <div class="justify margin-b2">
                        <a href="custom_press_03.html" class="cross-link-blue">Читать дальше</a>
                        <div class="text-date">14-06-2016</div>
                    </div>
                    <div class="justify center">
                        <a href="press.html" class="button-about">Все статьи</a>
                    </div>
                </div>
            </div>
            <div class="c-press-block-2 box-shadow">
                <div class="h1 margin-b05">Чистка ноутбука с полной разборкой</div>
                <img src="assets/img/images/c-press/c-press-3.png" class="img-c-press margin-b1">
                <p>
                    Для многих пользователей при выборе компьютера ключевыми критериями становятся его мобильность и портативность. Вот почему большой популярностью пользуются именно ноутбуки. Две упомянутые выше характеристики, бесспорно, являются плюсами устройства, но если посмотреть, с другой стороны, то можно выделить один их существенный недостаток.
                </p>
                <p>
                    В чем же он заключается? С целью достижения минимальных габаритов устройства производители вынуждены использовать схему близкого размещения деталей внутри корпуса, что приводит к их перегреву. Да и в целом система охлаждения ноутбуков несовершенна. Воздухозаборник, расположенный в нижней части и кулер маленьких размеров не обеспечивают должного уровня охлаждения плюс часто засоряются пылью.
                </p>
                <span class="h3">Главные правила как бороться с перегревом</span>
                <p>
                    С основными причинами, вызывающими перегрев устройства определились, пора переходить к способам как с ними бороться. Выделим несколько основных правил, которые не помешает знать каждому счастливому обладателю лэптопа:
                </p>
                <ul>
                    <li>
                        во время работы не ставьте ноутбук на мягкие поверхности, они препятствуют нормальной работе системы охлаждения т. к. закрывают отверстия, расположенные на задней стороне корпуса;
                    </li>
                    <li>
                        по возможности работайте в помещениях с хорошей вентиляцией;
                    </li>
                    <li>
                        вовремя и регулярно обращайтесь в сервисный центр для проведения чистки устройства от пыли и замены термопасты.
                    </li>
                </ul>
                <span class="h3">Как узнать, когда пора проводить чистку?</span>
                <p>
                    Ответ на этот вопрос можно разделить на две части: признаки свидетельствующие об этом и сроки, о которых говорят специалисты.
                </p>
                <p>
                    Во-первых, следует запомнить основные признаки перегрева, которые являются сигналами о необходимости проведения чистки: сильно шумит кулер, корпус сильно нагревается, часто зависают графические приложения или ноутбук самопроизвольно перезагружается.
                </p>
                <p>
                    Во-вторых, по мнению специалистов существует определенная периодичность, когда почистить ноутбук от пыли полезно для самого устройства во избежание перегрева и выхода из строя дорогостоящих деталей, таких как процессор и видеокарта. Достаточной считается периодичность проведения чистки 1–2 раза в год.
                </p>
                <span class="h3">Что выбрать: самостоятельную чистку или в сервисном центре?</span>
                <p>
                    Конечно же, каждый владелец ноутбука сам принимает решение: отдать свое устройство в сервисный центр для проведения чистки или же сделать это самостоятельно. Оба способа имеет свои преимущества. Самостоятельно почистить ноутбук обойдет дешевле, чем отдать его в сервис. Тем более, это довольно несложно, если заранее изучить вопрос.
                </p>
                <p>
                    Что же касается чистки в сервисном центре, то следует отметить тот факт, что для удаления пыли, накопившейся в ноутбуке его нужно полностью разобрать, а для этого нужны специальные инструменты, оборудование, которые не всегда есть дома, но обязательно есть в сервисе.
                </p>
                <p>
                    Какие же основные этапы качественной чистки:
                </p>
                <ul>
                    <li>
                        профессиональная разборка;
                    </li>
                    <li>
                        демонтаж системы охлаждения и удаление остатков термопасты;
                    </li>
                    <li>
                        демонтаж кулера от радиатора;
                    </li>
                    <li>
                        удаление пыли с решетки и вентилятора путем продувания или даже промывания;
                    </li>
                    <li>
                        смазка кулера при необходимости;
                    </li>
                    <li>
                        нанесение новой термопасты и сборка ноутбука.
                    </li>
                </ul>
                <p>
                    По мимо всего прочего без практических навыков разборка и чистка ноутбука может занять довольно существенное количество времени и если у вас его нет, то лучше обратиться к специалистам.
                </p>
                <span class="h3">Сколько стоит чистка ноутбука в сервисном центре?</span>
                <p>
                    После всех вышеприведенных аргументов целесообразно рассмотреть последний вопрос: «Какова же цена вопроса услуг специалистов?». И тут тоже есть два правила, которые могут помочь владельцам. Первое правило: качественная услуга не может стоить неоправданно дешево, поэтому не стоит экономить. Второе правило: цена услуги в 10 раз меньше, чем замена процессора или видеокарты, сгоревших в результате перегрева. Помните, своевременная чистка продлевает жизнь вашему ноутбуку и экономит ваши деньги.
                </p>
                <!--<div class="text-date">Автор: Сергей Володин</div>
                -->
            </div>
        </div>
    </div>
</main>
<footer class="footer-all">
    <div class="footer-outer-container">
        <a href="/" class="footer-top-cell-1"></a>
        <div class="footer-top-cell-2">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    г. Нижний Новгород,<br>пр-т. Ленина, 36, оф. 111
                </div>
            </div>
        </div>
        <div class="footer-top-cell-3">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    Пн.-Сб.: с 10:00 до 19:00<br>Вс.: выходной
                </div>
            </div>
        </div>
        <div class="footer-top-cell-4">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    <div class="footer-contacts-phone">(831) 424-99-90</div>
                    <a href="" class="footer-contacts-info">Заказать звонок</a>
                </div>
            </div>
        </div>
        <div class="footer-middle-line span-12 omega"></div>
        <div class="footer-bottom-cell span-12 omega">
            <div class="justify">
                <div>
                    <span>© 2016 СЕРВИСНЫЙ ЦЕНТР «АЙТИ-НН»,&nbsp;</span>
                    <span class="white-space">Все права защищены</span>
                </div>
                <a href="/" class="social-link-m"></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>