<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content="">
    <title>Ремонт iPhone</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter38305290 = new Ya.Metrika({
                    id:38305290,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/38305290" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<header class="header-all box-shadow-header">
    <div class="h-top-bg">
        <div class="container">
            <div class="justify">
                <div class="h-button-mobile active_page">
                    <div class="justify">
                        <div class="h-button-mobile-block">
                            <div class="h-button-mobile-block-line"></div>
                            <div class="h-button-mobile-block-line"></div>
                            <div class="h-button-mobile-block-line"></div>
                        </div>
                        <span class="h-button-mobile-text">Меню</span>
                    </div>
                    <div class="v-top-menu">
                            <span class="s-button">
                                <a class="v-button">
                                    <div class="h-button-normalizer">
                                        <span class="">Услуги</span>
                                        <div class="triangle-all">
                                            <div class="triangle-5">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="h-service-menu text-block-16">
                                    <a href="custom_work_pc.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт компьютеров</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_mono.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт моноблоков</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_notebook.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт ноутбуков</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_pad.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт планшетов</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_ebook.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт электронных книг</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_apple.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт техники Apple</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_monitor.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт мониторов</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_1c.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Настройка 1С</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_ur.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Обслуживание организаций</span>
                                        </div>
                                    </a>
                                </div>
                            </span>
                        <a href="price.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Цены</span>
                            </div>
                        </a>
                        <a href="sales.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Акции</span>
                            </div>
                        </a>
                        <a href="warranty.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Гарантии</span>
                            </div>
                        </a>
                        <a href="press.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Статьи</span>
                            </div>
                        </a>
                        <a href="about.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>О нас</span>
                            </div>
                        </a>
                        <a href="comments.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Отзывы</span>
                            </div>
                        </a>
                        <a href="contacts.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Контакты</span>
                            </div>
                        </a>
                    </div>
                </div>
                <!--Меню для мобильных приложений. Окончание-->
                <!--Блок горизонтального меню. Начало-->
                <div class="h-top-menu">
                    <span class="s-button">
                        <a href="service.html" class="h-button active_page">
                            <div class="h-button-normalizer">
                                <span class="">Услуги</span>
                                <div class="triangle-all">
                                    <div class="triangle-5">
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="h-service-menu text-block-16">
                            <a href="custom_work_pc.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт компьютеров</span>
                                </div>
                            </a>
                            <a href="custom_work_mono.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт моноблоков</span>
                                </div>
                            </a>
                            <a href="custom_work_notebook.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт ноутбуков</span>
                                </div>
                            </a>
                            <a href="custom_work_pad.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт планшетов</span>
                                </div>
                            </a>
                            <a href="custom_work_ebook.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт электронных книг</span>
                                </div>
                            </a>
                            <a href="custom_work_apple.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт техники Apple</span>
                                </div>
                            </a>
                            <a href="custom_work_monitor.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт мониторов</span>
                                </div>
                            </a>
                            <a href="custom_work_1c.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Настройка 1С</span>
                                </div>
                            </a>
                            <a href="custom_work_ur.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Обслуживание организаций</span>
                                </div>
                            </a>
                            <a href="comments.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Отзывы</span>
                                </div>
                            </a>
                        </div>
                    </span>
                    <a href="price.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Цены</span>
                        </div>
                    </a>
                    <a href="sales.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Акции</span>
                        </div>
                    </a>
                    <a href="warranty.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Гарантии</span>
                        </div>
                    </a>
                    <a href="press.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Статьи</span>
                        </div>
                    </a>
                    <a href="about.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>О нас</span>
                        </div>
                    </a>
                    <a href="contacts.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Контакты</span>
                        </div>
                    </a>
                </div>
                <a href="/" class="social-link-m"></a>
            </div>
        </div>
    </div>
    <div class="header-bottom-side">
        <a href="/" class="header-infocell header-infocell-1">
            <div class="justify start">
                <div class="h-logo"></div>
            </div>
        </a>
        <div class="header-infocell header-infocell-2 phone-animation">
            <div class="justify column">
                <div class="h-phone">(831) 424-99-90</div>
                <a href="/" class="h-service">Заказать звонок</a>
            </div>
        </div>
        <div class="header-infocell header-infocell-3">
            <div class="justify end">
                <div class="justify column i-start">
                    <a href="/" class="h-cell-3">Пн.-Сб.: с <b>10:00</b> до <b>19:00</b></a>
                    <a href="/" class="h-cell-4">г. Нижний Новгород,<br>пр-т. Ленина, 36, оф. 111</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="breadcrumbs">
            <a href="index.html" class="cross-link">Главная</a>
            <span>&nbsp;/&nbsp;</span>
            <a href="sales.html" class="cross-link-blue">Услуги</a>
        </div>
    </div>
    <div class="main-container-1 ">
        <a href="custom_work_pc.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-1"></div>
                <div class="main-top-text">Ремонт<br>компьютеров</div>
            </div>
        </a>
        <a href="custom_work_notebook.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-2"></div>
                <div class="main-top-text">Ремонт<br>ноутбуков</div>
            </div>
        </a>
        <a href="custom_work_pad.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-3"></div>
                <div class="main-top-text">Ремонт<br>планшетов</div>
            </div>
        </a>
        <a href="custom_work_ebook.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-4"></div>
                <div class="main-top-text">Ремонт<br>электронных книг</div>
            </div>
        </a>
        <a href="custom_work_apple.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-5"></div>
                <div class="main-top-text">Ремонт<br>техники Apple</div>
            </div>
        </a>
        <a href="custom_work_phone.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-6"></div>
                <div class="main-top-text">Ремонт<br>телефонов</div>
            </div>
        </a>
        <a href="custom_work_1c.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-7"></div>
                <div class="main-top-text">Настройка 1С</div>
            </div>
        </a>
        <a href="custom_work_ur.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-8"></div>
                <div class="main-top-text">Обслуживание<br>организаций</div>
            </div>
        </a>
    </div>
    <!--Сервисные блоки окончание-->
    <div class="whitesmoke-bg">
        <div class="main-triangle-container white-triangle margin-t1">
            <div class="triangle">
                <div class="triangle-left"></div>
                <div class="triangle-right"></div>
            </div>
        </div>
        <div class="container padding-t-05">
            <div class="c-work-block-2">
                <div>
                    <div class="block-h">Ремонт IPhone</div>
                    <!--<div class="block-w-image"></div>-->
                    <div class="c-work-block-2-h-image">
                        <img src="assets/img/images/c-work/ipad/ipad-header-img.png" class="c-work-block-2-h-image-size">
                    </div>
                    <div class="block-14">
                        <p>
                            Телефон, выпускаемый известной всем нам фирмой Apple и именуемый как I-phone считается, пожалуй, одним из самых стильных гаджетов. Сам же производитель, вообще, заявляет, что этот смартфон является совершенно волшебным устройством. Да, возможно, это довольно оригинальное и, может, даже смешное заявление, но оно имеет место быть. Креативный дизайн – это, конечно, прекрасно, но I-phone прежде всего это техника и более логичным все-таки будет его рассматривать с иной точки зрения. Так ли он совершенен технически? В настоящий момент смартфон от компании Apple действительно принято считать очень надежным гаджетом. Но даже такие надежные и «волшебные» телефоны могут ломаться и полностью не застрахованы от каких-либо поломок.
                        </p>
                        <p>
                            Сталкиваясь с такой неприятной ситуацией, как поломка вашего драгоценного девайся зачастую требуется оперативное решение вопроса его починки. И тут следует обратить внимание на ряд моментов.
                        </p>
                        <p>
                            Во-первых, существует два основных способа как можно восстановить работу сломанного I-phone: отдать его в авторизированный сервисный центр или же доверить ремонт специалистам из других сервисных компаний. К такому роду сервисам относится и наша компания «АЙТИ-НН». Мы оказываем клиентам услугу ремонт i-phone в Нижнем Новгороде, которая включает в себя целый комплекс от диагностики до проведения работ. Наши специалисты, обладая большим практическим опытом помогут справиться как с часто встречающимися поломками (замена дисплея, треснувшего стекла, настройка ПО), так и с более сложными.
                        </p>
                        <p>
                            Что же лучше? Ответа однозначного нет, но перед тем, как отдать предпочтение тому или иному сервису следует помнить следующее:
                        </p>
                        <ul>
                            <li>
                                если сервис авторизирован производителем – это совсем не значит, что в нем работают более квалифицированные инженеры, чем в не авторизированном;
                            </li>
                            <li>
                                сервисы, выполняющие гарантийный ремонт от производителя, зачастую, ограничены им же в видах предоставляемых услуг;
                            </li>
                            <li>
                                услуги ремонта независимых сервисов – это более выгодный вариант решения вопроса, с точки зрения экономии денежных средств владельцев сломанных смартфонов.
                            </li>
                        </ul>
                        <p>
                            Во-вторых, помните, что ни в коем случае не стоит пытаться починить I-phone самостоятельно без наличия соответствующего опыта и квалификации. Уж больно дорого, может вам обойтись, в дальнейшем такой ремонт, если вы повредите какую-то не ту запчасть, пытаясь первоначально починить сломанную.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container block-h3">Оказываем услуги:</div>
        <div class="container">
            <a class="apple-cell apple-cell-custom-4" href="custom_work_apple_iphone/custom_work_apple_iphone_4.html">
                <div class="justify column center">
                    <img src="assets/img/images/c-work/iphone/iphone_4.png">
                    <p>iPhone 4/4s</p>
                </div>
            </a>
            <a class="apple-cell apple-cell-custom-4" href="custom_work_apple_iphone/custom_work_apple_iphone_5.html">
                <div class="justify column center">
                    <img src="assets/img/images/c-work/iphone/iphone_5.png">
                    <p>iPhone 5</p>
                </div>
            </a>
            <a class="apple-cell apple-cell-custom-4" href="custom_work_apple_iphone/custom_work_apple_iphone_5c.html">
                <div class="justify column center">
                    <img src="assets/img/images/c-work/iphone/iphone_5c.png">
                    <p>iPhone 5C</p>
                </div>
            </a>
            <a class="apple-cell apple-cell-custom-4" href="custom_work_apple_iphone/custom_work_apple_iphone_5s.html">
                <div class="justify column center">
                    <img src="assets/img/images/c-work/iphone/iphone_5s.png">
                    <p>iPhone 5S</p>
                </div>
            </a>
            <a class="apple-cell apple-cell-custom-4" href="custom_work_apple_iphone/custom_work_apple_iphone_6.html">
                <div class="justify column center">
                    <img src="assets/img/images/c-work/iphone/iphone_6.png">
                    <p>iPhone 6</p>
                </div>
            </a>
            <a class="apple-cell apple-cell-custom-4" href="custom_work_apple_iphone/custom_work_apple_iphone_6+.html">
                <div class="justify column center">
                    <img src="assets/img/images/c-work/iphone/iphone_6+.png">
                    <p>iPhone 6 Plus</p>
                </div>
            </a>
            <a class="apple-cell apple-cell-custom-4" href="custom_work_apple_iphone/custom_work_apple_iphone_6s.html">
                <div class="justify column center">
                    <img src="assets/img/images/c-work/iphone/iphone_6s.png">
                    <p>iPhone 6S</p>
                </div>
            </a>
            <a class="apple-cell apple-cell-custom-4" href="custom_work_apple_iphone/custom_work_apple_iphone_6s+.html">
                <div class="justify column center">
                    <img src="assets/img/images/c-work/iphone/iphone_6s+.png">
                    <p>iPhone 6S Plus</p>
                </div>
            </a>
        </div>
    </div>
    <div class="white-bg">
        <div class="main-triangle-container">
            <div class="triangle">
                <div class="triangle-left"></div>
                <div class="triangle-right"></div>
            </div>
        </div>
        <!--перенос тексовых блоков под перечень услуг начало-->
        <div class="container">
            <!--блок 1-->
            <div class="c-work-text-block c-work-text-block-31">
                <h4>Стоимость ремонта I-phone</h4>
                <p>
                    Отметить несколько составляющих из которых складывается цена любой услуги ремонта техники, в том числе и Iphone.
                </p>
                <p>
                    Во-первых, стоимость детали, которая вышла из строй, и которую необходимо заменить, чтобы ваш смартфон снова заработал. Например, если в результате падения просто треснуло стекло, то это будет мене затратно, чем если выйдет из строя матрица экрана (дисплея).
                </p>
                <p>
                    Во-вторых, стоимость услуги проведения самих ремонтных работ. В нашем сервисе цена – это фиксированная величина, которая определяется по результатам проведенной диагностики сломанного устройства. Ее размер всегда согласовывается в каждым нашим клиентом.
                </p>
            </div>
            <!--блок 2-->
            <div class="c-work-text-block c-work-text-block-32">
                <h4>Почему стоит выбрать именно нас</h4>
                <p>
                    Наши ключевые преимущества – основа для клиента сделать выбор в пользу сервиса «АЙТИ-НН»:                </p>
                <li>
                <li>
                    наши инженеры с высоким уровнем квалификации в области проведения восстановительных ремонтных работ с различной техникой от компании Apple;
                </li>
                <li>
                    мы дорожим своей хорошей репутацией и выполняем каждый ремонт максимально качественно;
                </li>
                <li>
                    вы всегда точно знаете сколько нужно будет заплатить после проведения восстановительных работ с вашим Iphone;                    </li>
                <li>
                    для клиентов, которые ценят свое время предлагается сервис доставки устройства домой и обратно.
                </li>
                </ul>
            </div>
            <!--блок 3-->
            <div class="c-work-text-block c-work-text-block-33">
                <h4>Сроки ремонта I-phone</h4>
                <p>
                    I-phone – это непросто устройство для коммуникации, но еще и девайс, делающий жизнь его владельца более комфортной. По этой причине довольно сложно обходиться без него несколько дней пока он в ремонте. Наш сервисный центр это прекрасно понимает и поэтому создал собственный склад запчастей, что позволяет предлагать нашим клиентам услугу срочный ремонт I-phone. При несложной поломке для ее устранения требуется от 30 до 60 минут, в иных случаях наши инженеры-ремонтники готовы справиться с ней в срок до 3 дней.
                </p>
            </div>
        </div>
        <!--перенос тексовых блоков под перечень услуг окончание-->
        <div class="container">
            <img src="assets/img/images/c-work/iphone_decoration.png" class="iphone-decoration-img-bottom">
        </div>
        <div class="container">
            <div class="c-work-block-5">
                <div class="c-work-block-5-normalizer box-shadow">
                    <div class="block-h1">Чем больше девайсов, тем больше скидка!</div>
                    <div class="img-block-5">
                        <div class="justify">
                            <a href="" class="carousel-arrow"></a>
                            <a href="" class="carousel-arrow"></a>
                        </div>
                    </div>
                    <div class="text-block-14">
                        Принесите на ремонт сразу 2 устройства и получите скидку 10% на каждое, 3 устройства - скидка 15% на каждое!
                    </div>
                </div>
                <div class="justify start">
                    <a href="" class="trial-carousel"></a>
                    <a href="" class="trial-carousel"></a>
                    <a href="" class="trial-carousel"></a>
                </div>
            </div>
            <div class="c-work-block-6 img-contact-cell box-shadow margin-b2">
                <div class="block-h1">Оформите заявку онлайн и
                    <span class="blue-color">получите скидку 10 %</span>
                </div>
                <div class="justify i-stretch">
                    <div class="input-block grow">
                        <form method="post">
                            <input class="input-class-check" type="text" name="check" placeholder="Выберите услугу">
                            <input class="input-class-name" type="tel" name="login" placeholder="Ваше имя">
                            <input class="input-class-phone" type="tel" name="phone" placeholder="Телефон">
                        </form>
                    </div>
                    <img class="img-operator" src="assets/img/icons/img_operator.png">
                </div>
                <div class="justify padding-l-05">
                    <a href="" class="button-about">Отправить</a>
                    <div class="text-block-12 padding-l-1">Наш мастер перезвоним Вам в течении 3-4 минут</div>
                </div>
            </div>

        </div>
    </div>
</main>
<footer class="footer-all">
    <div class="footer-outer-container">
        <a href="/" class="footer-top-cell-1"></a>
        <div class="footer-top-cell-2">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    г. Нижний новгород,<br>пр-т. Ленина, 36, оф. 111
                </div>
            </div>
        </div>
        <div class="footer-top-cell-3">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    Пн.-Сб.: с 10:00 до 19:00<br>Вс.: выходной
                </div>
            </div>
        </div>
        <div class="footer-top-cell-4">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    <div class="footer-contacts-phone">(831) 424-99-90</div>
                    <a href="" class="footer-contacts-info">Заказать звонок</a>
                </div>
            </div>
        </div>
        <div class="footer-middle-line span-12 omega"></div>
        <div class="footer-bottom-cell span-12 omega">
            <div class="justify">
                <div>
                    <span>© 2016 СЕРВИСНЫЙ ЦЕНТР «АЙТИ-НН»,&nbsp;</span>
                    <span class="white-space">Все права защищены</span>
                </div>
                <a href="/" class="social-link-m"></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>