<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content="">
    <title>Отдельная статья</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<header class="header-all box-shadow-header">
    <div class="h-top-bg">
        <div class="container">
            <div class="justify">
                <div class="h-button-mobile active_page">
                    <div class="justify">
                        <div class="h-button-mobile-block">
                            <div class="h-button-mobile-block-line"></div>
                            <div class="h-button-mobile-block-line"></div>
                            <div class="h-button-mobile-block-line"></div>
                        </div>
                        <span class="h-button-mobile-text">Меню</span>
                    </div>
                    <div class="v-top-menu">
                            <span class="s-button">
                                <a class="v-button">
                                    <div class="h-button-normalizer">
                                        <span class="">Услуги</span>
                                        <div class="triangle-all">
                                            <div class="triangle-5">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="h-service-menu text-block-16">
                                    <a href="custom_work_pc.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт компьютеров</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_mono.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт моноблоков</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_notebook.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт ноутбуков</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_pad.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт планшетов</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_ebook.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт электронных книг</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_apple.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт техники Apple</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_monitor.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт мониторов</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_1c.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Настройка 1С</span>
                                        </div>
                                    </a>
                                    <a href="custom_work_ur.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Обслуживание организаций</span>
                                        </div>
                                    </a>
                                </div>
                            </span>
                        <a href="price.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Цены</span>
                            </div>
                        </a>
                        <a href="sales.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Акции</span>
                            </div>
                        </a>
                        <a href="warranty.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Гарантии</span>
                            </div>
                        </a>
                        <a href="press.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Статьи</span>
                            </div>
                        </a>
                        <a href="about.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>О нас</span>
                            </div>
                        </a>
                        <a href="comments.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Отзывы</span>
                            </div>
                        </a>
                        <a href="contacts.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Контакты</span>
                            </div>
                        </a>
                    </div>
                </div>
                <!--Меню для мобильных приложений. Окончание-->
                <!--Блок горизонтального меню. Начало-->
                <div class="h-top-menu">
                    <span class="s-button">
                        <a href="service.html" class="h-button">
                            <div class="h-button-normalizer">
                                <span class="">Услуги</span>
                                <div class="triangle-all">
                                    <div class="triangle-5">
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="h-service-menu text-block-16">
                            <a href="custom_work_pc.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт компьютеров</span>
                                </div>
                            </a>
                            <a href="custom_work_mono.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт моноблоков</span>
                                </div>
                            </a>
                            <a href="custom_work_notebook.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт ноутбуков</span>
                                </div>
                            </a>
                            <a href="custom_work_pad.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт планшетов</span>
                                </div>
                            </a>
                            <a href="custom_work_ebook.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт электронных книг</span>
                                </div>
                            </a>
                            <a href="custom_work_apple.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт техники Apple</span>
                                </div>
                            </a>
                            <a href="custom_work_monitor.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт мониторов</span>
                                </div>
                            </a>
                            <a href="custom_work_1c.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Настройка 1С</span>
                                </div>
                            </a>
                            <a href="custom_work_ur.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Обслуживание организаций</span>
                                </div>
                            </a>
                            <a href="comments.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Отзывы</span>
                                </div>
                            </a>
                        </div>
                    </span>
                    <a href="price.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Цены</span>
                        </div>
                    </a>
                    <a href="sales.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Акции</span>
                        </div>
                    </a>
                    <a href="warranty.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Гарантии</span>
                        </div>
                    </a>
                    <a href="press.html" class="h-button active_page">
                        <div class="h-button-normalizer">
                            <span>Статьи</span>
                        </div>
                    </a>
                    <a href="about.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>О нас</span>
                        </div>
                    </a>
                    <a href="contacts.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Контакты</span>
                        </div>
                    </a>
                </div>
                <a href="/" class="social-link-m"></a>
            </div>
        </div>
    </div>
    <div class="header-bottom-side">
        <a href="/" class="header-infocell header-infocell-1">
            <div class="justify start">
                <div class="h-logo"></div>
            </div>
        </a>
        <div class="header-infocell header-infocell-2 phone-animation">
            <div class="justify column">
                <div class="h-phone">(831) 424-99-90</div>
                <a href="/" class="h-service">Заказать звонок</a>
            </div>
        </div>
        <div class="header-infocell header-infocell-3">
            <div class="justify end">
                <div class="justify column i-start">
                    <a href="/" class="h-cell-3">Пн.-Сб.: с <b>10:00</b> до <b>19:00</b></a>
                    <a href="/" class="h-cell-4">г. Нижний Новгород,<br>пр-т. Ленина, 36, оф. 111</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="breadcrumbs">
            <a href="index.html" class="cross-link">Главная</a>
            <span>&nbsp;/&nbsp;</span>
            <a href="press.html" class="cross-link"> Статьи </a>
            <span>&nbsp;/&nbsp;</span>
            <a href="custom_press.html" class="cross-link-blue">Чистка ноутбука с полной разборкой</a>
        </div>
    </div>
    <div class="main-container-1 margin-b1">
        <a href="custom_work_pc.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-1"></div>
                <div class="main-top-text">Ремонт<br>компьютеров</div>
            </div>
        </a>
        <a href="custom_work_notebook.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-2"></div>
                <div class="main-top-text">Ремонт<br>ноутбуков</div>
            </div>
        </a>
        <a href="custom_work_pad.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-3"></div>
                <div class="main-top-text">Ремонт<br>планшетов</div>
            </div>
        </a>
        <a href="custom_work_ebook.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-4"></div>
                <div class="main-top-text">Ремонт<br>электронных книг</div>
            </div>
        </a>
        <a href="custom_work_apple.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-5"></div>
                <div class="main-top-text">Ремонт<br>техники Apple</div>
            </div>
        </a>
        <a href="custom_work_phone.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-6"></div>
                <div class="main-top-text">Ремонт<br>телефонов</div>
            </div>
        </a>
        <a href="custom_work_1c.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-7"></div>
                <div class="main-top-text">Настройка 1С</div>
            </div>
        </a>
        <a href="custom_work_ur.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-8"></div>
                <div class="main-top-text">Обслуживание<br>организаций</div>
            </div>
        </a>
    </div>

    <div class="whitesmoke-bg">
        <div class="main-triangle-container white-triangle">
            <div class="triangle">
                <div class="triangle-left"></div>
                <div class="triangle-right"></div>
            </div>
        </div>
        <div class="container c-press-container">
            <div class="c-press-block-1 box-shadow">
                <div class="c-press-cell-1">
                    <div class="block-h margin-b1">Полезные статьи</div>
                    <img src="assets/img/images/c-press/c-press-1.png" class="img-c-press margin-b1">
                    <div class="block-h2 margin-b1">
                        Стоит ли ремонтировать технику <br>самостоятельно?
                    </div>
                    <div class="text-block-14 margin-b1">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. <br>Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur.
                    </div>
                    <div class="justify margin-b2">
                        <a href="custom_press.html" class="cross-link-blue">Читать дальше</a>
                        <div class="mc2-block-2-date">30-02-2016</div>
                    </div>
                </div>
                <div class="c-press-cell-2">
                    <img src="assets/img/images/c-press/c-press-2.png" class="img-c-press margin-b1">
                    <div class="block-h2 margin-b1">
                        Как правильно организовать <br>
                        домашнюю сеть
                    </div>
                    <div class="text-block-14 margin-b1">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. <br>Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur.
                    </div>
                    <div class="justify margin-b2">
                        <a href="custom_press.html" class="cross-link-blue">Читать дальше</a>
                        <div class="mc2-block-2-date">24-02-2016</div>
                    </div>
                    <div class="justify center">
                        <a href="press.html" class="button-about">Все статьи</a>
                    </div>
                </div>
            </div>
            <div class="c-press-block-2 box-shadow">
                <div class="block-h margin-b1">Чистка ноутбука с полной разборкой</div>
                <img src="assets/img/images/c-press/c-press-3.png" class="img-c-press margin-b1">
                <div class="block-h2 margin-b1">
                    Как часто и для чего нужно чистить ноутбук?
                </div>
                <div class="text-block-16">
                    <p>Иной раз случается, что исправный ноутбук, без сбоев проработавший один-два года, начинает тормозить, зависать, а иногда и самопроизвольно отключаться. Профилактическая чистка ноутбука внутри от пыли, как правило, позволяет вернуть компьютеру работоспособность, если переустановка программного обеспечения не помогает избавиться от проблем.
                    Почему? Все очень просто. При возникновении подобных неисправностей высока вероятность, что причина сбоев в работе компьютера – перегрев процессора. Хотя эксплуатация и предполагает минимальное потребление энергии, за счет особенностей его конструкции при интенсивной работе центральный и графический процессор ощутимо нагреваются и требуют дополнительного охлаждения. Для этих целей в каждом ноутбуке имеется специальная система, состоящая из тепловых трубок, передающих избыточное тепло от процессоров к медному охлаждающему радиатору и вентилятору охлаждения. Именно охлаждающая система время от времени и нуждается в чистке.
                    </p><p>
                    Охлаждение осуществляется посредством воздуха, поступающего внутрь компьютера через воздухозаборник. Чаще всего он расположен на нижней панели корпуса. Поэтому производители не рекомендуют пользователям ставить работающий аппарат на ковер или колени: при этом зачастую перекрывается доступ воздуха к охлаждающей системе. А это, в свою очередь, может привести к перегреву активно работающих частей компьютера.
                    </p><p>
                    Когда же ноутбук стоит на столе, препятствий для охлаждения не возникает. Однако в этом случае он наподобие пылесоса собирает с поверхности стола пыль, которая оседает на лопастях вентилятора и между ребрами охлаждающего радиатора, накапливается и уплотняется. В результате образуется слой, напоминающий войлок.
                    </p><p>
                    Если вовремя не произвести чистку ноутбука внутри, эта пыль становится преградой на пути воздушного потока и система охлаждения перестает работать. При повышении температуры выше допустимых значений включаются защитные механизмы, вследствие чего перегревающиеся устройства переходят в щадящий режим работы или вообще отключаются. Когда перегрев становится критическим, аппарат, как правило, отключается полностью. Таким образом, обычная пыль может служить причиной сбоев в работе и привести к серьезной поломке, если его своевременно не почистить.
                    </p>
                </div>
                <div class="block-h2 margin-b1">
                    В чем опасность перегрева?
                </div>
                <div class="text-block-16">
                    <p>
                        Даже если ноутбук и не отключается при повышении температуры внутри аппарата свыше 80 градусов Цельсия, то его эксплуатация в таком режиме все равно ни к чему хорошему не приведет. Во-первых, может быстро износиться кулер, работающий с постоянными перегрузками. Его замена обходится гораздо дороже, чем чистка ноутбука и замена термопасты. Да и заменить вентилятор оперативно получается далеко не всегда: часто бывает, что не все комплектующие есть в наличие даже на фирменном сервисе.
                    </p>
                    <img src="assets/img/images/c-press/c-press-4.png" class="img-c-press-2">
                    <p>
                        Часто приходится менять не только кулер: если чистка системы охлаждения ноутбука от пыли вовремя не произведена и компьютер перегревается, быстро изнашиваются ключевые микросхемы – северный и южный мост, видеокарта и др. Замена этих комплектующих обойдется значительно дороже, чем профилактическая чистка.
                    </p>
                    <p>
                        Выход лэптопа из строя или сбои в его работе из-за накопившейся пыли и грязи не являются гарантийным случаем. Поэтому чистка системы охлаждения ноутбука в сервисном центре всегда платная. Если вы беретесь за чистку ноутбука от пыли внутри впервые, а компьютер необходимо разобрать – отсоединить дисплей, клавиатуру, другие комплектующие, то лучше этого не делать самостоятельно. Без знания внутреннего устройства и практического опыта при полной разборке высок риск повреждения контактов и важных деталей. Поэтому лучше обратитесь к услугам наших специалистов.
                    </p>
                </div>
                <div class="text-date">Автор: Сергей Володин</div>
            </div>
        </div>
    </div>
</main>
<footer class="footer-all">
    <div class="footer-outer-container">
        <a href="/" class="footer-top-cell-1"></a>
        <div class="footer-top-cell-2">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    г. Нижний новгород,<br>пр-т. Ленина, 36, оф. 111
                </div>
            </div>
        </div>
        <div class="footer-top-cell-3">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    Пн.-Сб.: с 10:00 до 19:00<br>Вс.: выходной
                </div>
            </div>
        </div>
        <div class="footer-top-cell-4">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    <div class="footer-contacts-phone">(831) 424-99-90</div>
                    <a href="" class="footer-contacts-info">Заказать звонок</a>
                </div>
            </div>
        </div>
        <div class="footer-middle-line span-12 omega"></div>
        <div class="footer-bottom-cell span-12 omega">
            <div class="justify">
                <div>
                    <span>© 2016 СЕРВИСНЫЙ ЦЕНТР «АЙТИ-НН»,&nbsp;</span>
                    <span class="white-space">Все права защищены</span>
                </div>
                <a href="/" class="social-link-m"></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>