<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
<header class="header-all box-shadow-header">
    <div class="header-top-side">
        <nav class="header-menu justify">
            <div class="header-menu-bar">
                <a href="service.html" class="header-button">Услуги</a>
                <a href="price.html" class="header-button">Цены</a>
                <a href="sales.html" class="header-button">Скидки и акции</a>
                <a href="warranty.html" class="header-button">Гарантии</a>
                <a href="press.html" class="header-button">Статьи</a>
                <a href="about.html" class="header-button">О нас</a>
                <a href="contacts.html" class="header-button">Контакты</a>
            </div>
            <a href="" class="social-link"></a>
        </nav>
    </div>
    <div class="header-bottom-side">
        <a href="" class="header-infocell">
            <div class="justify start">
                <div class="h-logo"></div>
            </div>
        </a>
        <div class="header-infocell">
            <div class="justify column">
                <div class="h-phone">(831) 424-99-90</div>
                <a href="" class="h-service">Заказать звонок</a>
            </div>
        </div>
        <div class="header-infocell">
            <div class="justify end">
                <div class="justify column i-start">
                    <a href="" class="h-cell-3">Пн.-Сб.: с <b>10:00</b> до <b>19:00</b></a>
                    <a href="" class="h-cell-4">г. Нижний новгород,<br>пр-т. Ленина, 36, оф. 111</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="main-container-1 margin-t2">
        <a href="custom_work.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-1"></div>
                <div class="main-top-text">Ремонт<br>компьютеров</div>
            </div>
        </a>
        <a href="custom_work.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-2"></div>
                <div class="main-top-text">Ремонт<br>ноутбуков</div>
            </div>
        </a>
        <a href="custom_work.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-3"></div>
                <div class="main-top-text">Ремонт<br>планшетов</div>
            </div>
        </a>
        <a href="custom_work.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-4"></div>
                <div class="main-top-text">Ремонт<br>электронных книг</div>
            </div>
        </a>
        <a href="custom_work.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-5"></div>
                <div class="main-top-text">Ремонт<br>техники Apple</div>
            </div>
        </a>
        <a href="custom_work.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-6"></div>
                <div class="main-top-text">Ремонт<br>телефонов</div>
            </div>
        </a>
        <a href="custom_work.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-7"></div>
                <div class="main-top-text">Настройка 1С</div>
            </div>
        </a>
        <a href="custom_work.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-8"></div>
                <div class="main-top-text">Обслуживание<br>организаций</div>
            </div>
        </a>

        <div class="main-carousel margin-t1 box-shadow">
            <!--Имитация карусели начало-->
            <div class="justify i-wrap">
                <div class="justify start">
                    <a href="" class="carousel-arrow"></a>
                    <div class="main-carousel-promo">
                        <div class="main-carousel-promo-1">Оказываем любую<br>компьютерную помощь</div>
                        <div class="main-carousel-promo-2">
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </div>
                        <a href="" class="button-about">Подробнее</a>
                    </div>
                </div>
                <a href="" class="carousel-arrow"></a>
            </div>
        </div>
        <div class="main-carousel-bar">
            <a href="" class="trial-carousel"></a>
            <a href="" class="trial-carousel"></a>
            <a href="" class="trial-carousel"></a>
        </div>
    </div>
        <!--Имитация карусели окончание-->
    <div class="main-gray-container">
        <div class="main-container-2">
            <div class="mc2-block mc2-block-1 box-shadow">
                <div class="block-h1">
                    <div class="block-h1-border">Популярные услуги</div>
                </div>
                <a href="custom_service.html" class="mc2-block-1-promo">
                    <div class="mc2-block-1-promo-border">
                        <div>Замена матрицы</div>
                        <div>
                            <span>от</span>
                            <span class="mc2-block-1-promo-price">6 000 р.</span>
                        </div>
                    </div>
                </a>
                <a href="custom_service.html" class="mc2-block-1-promo">
                    <div class="mc2-block-1-promo-border">
                        <div class="mc2-block-1-promo-text">Замена аккумулятора</div>
                        <div>
                            <span>от</span>
                            <span class="mc2-block-1-promo-price">2 000 р.</span>
                        </div>
                    </div>
                </a>
                <a href="custom_service.html" class="mc2-block-1-promo">
                    <div class="mc2-block-1-promo-border">
                        <div>Замена разъема питания</div>
                        <div>
                            <span>от</span>
                            <span class="mc2-block-1-promo-price">3 500 р.</span>
                        </div>
                    </div>
                </a>
                <a href="custom_service.html" class="mc2-block-1-promo">
                    <div class="mc2-block-1-promo-border">
                        <div>Ремонт клавиатуры</div>
                        <div>
                            <span>от</span>
                            <span class="mc2-block-1-promo-price">1 500 р.</span>
                        </div>
                    </div>
                </a>
                <a href="custom_service.html" class="mc2-block-1-promo">
                    <div class="mc2-block-1-promo-border">
                        <div>Чистка системы охлаждения</div>
                        <div>
                            <span>от</span>
                            <span class="mc2-block-1-promo-price">2 000 р.</span>
                        </div>
                    </div>
                </a>
                <a href="custom_service.html" class="mc2-block-1-promo">
                    <div class="mc2-block-1-promo-border">
                        <div>Замена термопасты</div>
                        <div>
                            <span>от</span>
                            <span class="mc2-block-1-promo-price">1 000 р.</span>
                        </div>
                    </div>
                </a>
                <a href="custom_service.html" class="mc2-block-1-promo">
                    <div class="mc2-block-1-promo-border">
                        <div class="mc2-block-1-promo-text">Настройка Wi-Fi</div>
                        <div>
                            <span>от</span>
                            <span class="mc2-block-1-promo-price">1 000 р.</span>
                        </div>
                    </div>
                </a>
                <a href="custom_service.html" class="mc2-block-1-promo">
                    <div class="mc2-block-1-promo-border">
                        <div>Удаление вирусов</div>
                        <div>
                            <span>от</span>
                            <span class="mc2-block-1-promo-price">2 000 р.</span>
                        </div>
                    </div>
                </a>
                <a href="custom_service.html" class="mc2-block-1-promo">
                    <div class="mc2-block-1-promo-border">
                        <div>Установка драйверов, ПО</div>
                        <div>
                            <span>от</span>
                            <span class="mc2-block-1-promo-price">2 500 р.</span>
                        </div>
                    </div>
                </a>
                <a href="custom_service.html" class="mc2-block-1-promo">
                    <div class="mc2-block-1-promo-border">
                        <div>Восстановление данных</div>
                        <div>
                            <span>от</span>
                            <span class="mc2-block-1-promo-price">4 000 р.</span>
                        </div>
                    </div>
                </a>
                <div class="mc2-block-1-promo-btn">
                    <a href="" class="button-about">Подробнее</a>
                </div>
            </div>
            <div class="mc2-block mc2-block-2 box-shadow">
                <div class="mc2-block-2-a">
                    <div class="block-h1">Полезно знать</div>
                    <div class="mc2-block-2-img"></div>
                    <div class="block-h2">
                        Стоит ли ремонтировать технику <br>самостоятельно?
                    </div>
                    <div class="text-block-14">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. <br>Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur.
                    </div>
                    <div class="justify">
                        <a href="" class="cross-link-blue">Читать дальше</a>
                        <div class="mc2-block-2-date">30-02-2016</div>
                    </div>
                </div>
                <div class="mc2-block-2-b">
                    <div class="mc2-block-2-img"></div>
                    <div class="block-h2">
                        Как правильно организовать <br>
                        домашнюю сеть
                    </div>
                    <div class="text-block-14">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. <br>Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur.
                    </div>
                    <div class="justify">
                        <a href="" class="cross-link-blue">Читать дальше</a>
                        <div class="mc2-block-2-date">24-02-2016</div>
                    </div>
                    <div class="mc2-block-2-btn">
                        <a href="" class="button-about">Все статьи</a>
                    </div>
                </div>
            </div>
            <div class="mc2-block mc2-block-3">
                <div class="mc2-block-1 mc2-block-3-1 box-shadow">
                    <div class="block-h1">Что о нас говорят</div>
                    <div class="mc2-block-3-social">
                        <div class="mc2-block-3-ava"></div>
                        <div class="mc2-block-3-social-info">
                            <div class="block-h2">Дмитрий Бойко</div>
                            <div class="text-block-14">Услуга: Ремонт телефона</div>
                            <div class="justify">
                                <a href="" class="social-link"></a>
                                <div class="text-block-12">23.02.2016</div>
                            </div>
                        </div>
                    </div>
                    <div class="text-block-14">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur.
                    </div>
                    <div class="justify">
                        <a href="" class="cross-link-blue">Все отзывы</a>
                        <div>
                            <a href="" class="carousel-arrow-mini"></a>
                            <a href="" class="carousel-arrow-mini"></a>
                        </div>
                    </div>
                </div>
                <div class="mc2-block-1 mc2-block-3-2 box-shadow">
                    <div class="block-h1">
                        Оформите заявку онлайн и<br>
                        <span class="blue-color">получите скидку 10 %</span>
                    </div>
                    <div>
                        <form method="post">
                            <input class="input-class-name" type="text" name="login" placeholder="Ваше имя">
                            <input class="input-class-phone" type="tel" name="phone" placeholder="Телефон">
                            <!--<input class="input-class" type="text" id="login" name="login" placeholder="Ваше имя">
                            <input class="input-class" type="text" id="phone" name="phone" placeholder="Телефон">
                        -->
                        </form>
                    </div>
                    <div class="text-block-12">Наш мастер перезвоним Вам в течении 3-4 минут.</div>
                    <div class="mc2-block-2-btn">
                        <a href="" class="button-about">Отправить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-triangle-container">
        <div class="triangle">
            <div class="triangle-left"></div>
            <div class="triangle-right"></div>
        </div>
    </div>
    <div class="main-container-3">
        <div class="mc3-block-1">
            <div class="block-h1">Про Компьютерный сервис-центр АЙТИ-НН</div>
            <div class="cell-1 text-block-14">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur.
            </div>
            <div class="cell-2 text-block-14">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur.
            </div>
            <div class="cell-3 text-block-14">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur.
            </div>
            <div class="cell-4 text-block-14">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur.
            </div>
            <a href="" class="cross-link-blue cell-5">Подробнее про нас</a>
        </div>
        <div class="mc3-block-2">
            <div class="text-h1">Категории Услуг</div>
            <a href="custom_service.html" class="cell-11">
                <div class="text-block-16">Ремонт компьютеров</div>
            </a>
            <a href="custom_service.html" class="cell-12">
                <div class="text-block-16">Ремонт моноблоков</div>
            </a>
            <a href="custom_service.html" class="cell-13">
                <div class="text-block-16">Ремонт ноутбуков</div>
            </a>
            <a href="custom_service.html" class="cell-14">
                <div class="text-block-16">Ремонт планшетов</div>
            </a>
            <a href="custom_service.html" class="cell-15">
                <div class="text-block-16">Ремонт электронных книг</div>
            </a>
            <a href="custom_service.html" class="cross-link-blue cell-16">Все услуги</a>
        </div>
        <div class="mc3-block-3">
            <a href="" class="cell-17">
                <div class="text-block-16">Ремонт техники Apple</div>
                </a>
            <a href="" class="cell-18">
                <div class="text-block-16">Ремонт телефонов</div>
                </a>
            <a href="" class="cell-19">
                <div class="text-block-16">Ремонт мониторов</div>
                </a>
            <a href="" class="cell-20">
                <div class="text-block-16">Настройка 1С</div>
                </a>
            <a href="" class="cell-21">
                <div class="text-block-16">Обслуживание организаций</div>
            </a>
        </div>
        <div class="mc3-block-4 carousel-block-2 box-shadow">
            <div class="block-h1">Обслуживаемые бренды</div>
            <div class="carousel-brand">
                <a href="" class="carousel-arrow-mini"></a>
                <div class="carousel-brand">
                    <a href="" class="cross-link-blue element-1">Lenovo</a>
                    <a href="" class="cross-link-blue element-2">MSI</a>
                    <a href="" class="cross-link-blue element-3">Samsung</a>
                    <!--<a href="" class="cross-link-blue element-4">ACER</a>
                    <a href="" class="cross-link-blue element-5">ASUS</a>
                    <a href="" class="cross-link-blue element-6">HP</a>-->
                </div>
                <a href="" class="carousel-arrow-mini"></a>
            </div>
        </div>
    </div>
</main>
<footer class="footer-all">
    <div class="footer-outer-container">
        <a href="" class="footer-top-cell-1"></a>
        <div class="footer-top-cell-2">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    г. Нижний новгород,<br>пр-т. Ленина, 36, оф. 111
                </div>
            </div>
        </div>
        <div class="footer-top-cell-3">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    Пн.-Сб.: с 10:00 до 19:00<br>Вс.: выходной
                </div>
            </div>
        </div>
        <div class="footer-top-cell-4">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    <div class="footer-contacts-phone">(831) 424-99-90</div>
                    <a href="" class="footer-contacts-info">Заказать звонок</a>
                </div>
            </div>
        </div>
        <div class="footer-middle-line span-12 omega"></div>
        <div class="footer-bottom-cell justify span-12 omega">
            <div>© 2016 СЕРВИСНЫЙ ЦЕНТР «АЙТИ-НН», Все права защищены</div>
            <a href="" class="social-link"></a>
        </div>
    </div>
</footer>
</body>
</html>