<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/test-index-page.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
<header class="header-all">
    <div class="header-top-side">
        <nav class="header-menu">
            <div class="header-menu-bar">
                <a href="index.html" class="header-button">Услуги</a>
                <a href="" class="header-button">Цены</a>
                <a href="" class="header-button">Скидки и акции</a>
                <a href="" class="header-button">Гарантии</a>
                <a href="" class="header-button">Статьи</a>
                <a href="" class="header-button">О нас</a>
                <a href="" class="header-button">Контакты</a>
            </div>
            <div class="header-social-link-bar">
                <a href="" class="header-social-link"></a>
            </div>
        </nav>
    </div>
    <div class="header-bottom-side">
        <div class="header-info-bar">
            <a href="" class="header-infocell"></a>
            <div class="header-infocell">
                <div class="header-infocell-num">(831) 424-99-90</div>
                <a href="" class="header-infocell-text">Заказать звонок</a>
            </div>
            <div class="header-infocell">
                <div class="header-infocell-text-r">
                    <a href="" class="header-infocell-text-time">Пн.-Сб.: с <b>10:00</b> до <b>19:00</b></a>
                    <a href="" class="header-infocell-text-adr">г. Нижний новгород,<br>пр-т. Ленина, 36, оф. 111</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="main-all">
    <div class="main-outer-container-one">
        <a href="" class="main-top-cell box-shadow span-3">
            <div class="main-icon-1"></div>
            <div class="main-top-text">Ремонт<br>компьютеров</div>
        </a>
        <a href="" class="main-top-cell box-shadow span-3">
            <div class="main-icon-2"></div>
            <div class="main-top-text">Ремонт<br>ноутбуков</div>
        </a>
        <a href="" class="main-top-cell box-shadow span-3">
            <div class="main-icon-3"></div>
            <div class="main-top-text">Ремонт<br>планшетов</div>
        </a>
        <a href="" class="main-top-cell box-shadow span-3 omega">
            <div class="main-icon-4"></div>
            <div class="main-top-text">Ремонт<br>электронных книг</div>
        </a>
        <a href="" class="main-top-cell box-shadow span-3">
            <div class="main-icon-5"></div>
            <div class="main-top-text">Ремонт<br>техники Apple</div>
        </a>
        <a href="" class="main-top-cell box-shadow span-3">
            <div class="main-icon-6"></div>
            <div class="main-top-text">Ремонт<br>телефонов</div>
        </a>
        <a href="" class="main-top-cell box-shadow span-3">
            <div class="main-icon-7"></div>
            <div class="main-top-text">Настройка 1С</div>
        </a>
        <a href="" class="main-top-cell box-shadow span-3 omega">
            <div class="main-icon-8"></div>
            <div class="main-top-text">Обслуживание<br>организаций</div>
        </a>
        <div class="main-carousel  box-shadow span-12 omega">
            <!--Имитация карусели начало-->
            <div class="main-carousel-container">
                <div class="carousel-arrow"></div>
                <div class="main-carousel-promo">
                    <div class="test-1">Оказываем любую<br>компьютерную помощь</div>
                    <div class="test-2">
                        Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </div>
                    <a href="" class="button-about">Подробнее</a>
                </div>
            </div>
            <div class="carousel-arrow right"></div>
        </div>
        <div class="main-carousel-bar span-12 omega">
            <a href="" class="trial-carousel"></a>
            <a href="" class="trial-carousel"></a>
            <a href="" class="trial-carousel"></a>
        </div>
    </div>
        <!--Имитация карусели окончание-->
    <div class="main-about">
        <div class="main-outer-container-two">
            <div class="main-two-cell-1 box-shadow span-4">
                <div class="main-two-cell-1-promo-h">
                    <div class="main-two-cell-1-promo-h-border">Популярные услуги</div>
                </div>
                <a href="" class="main-two-cell-1-promo">
                    <div class="main-two-cell-1-promo-border">
                        <div class="main-two-cell-1-promo-text">Замена матрицы</div>
                        <div>
                            <span>от</span>
                            <span class="main-two-cell-1-promo-price">6 000 р.</span>
                        </div>
                    </div>
                </a>
                <a href="" class="main-two-cell-1-promo">
                    <div class="main-two-cell-1-promo-border">
                        <div class="main-two-cell-1-promo-text">Замена аккумулятора</div>
                        <div>
                            <span>от</span>
                            <span class="main-two-cell-1-promo-price">2 000 р.</span>
                        </div>
                    </div>
                </a>
                <a href="" class="main-two-cell-1-promo">
                    <div class="main-two-cell-1-promo-border">
                        <div class="main-two-cell-1-promo-text">Замена разъема питания</div>
                        <div>
                            <span>от</span>
                            <span class="main-two-cell-1-promo-price">3 500 р.</span>
                        </div>
                    </div>
                </a>
                <a href="" class="main-two-cell-1-promo">
                    <div class="main-two-cell-1-promo-border">
                        <div class="main-two-cell-1-promo-text">Ремонт клавиатуры</div>
                        <div>
                            <span>от</span>
                            <span class="main-two-cell-1-promo-price">1 500 р.</span>
                        </div>
                    </div>
                </a>
                <a href="" class="main-two-cell-1-promo">
                    <div class="main-two-cell-1-promo-border">
                        <div class="main-two-cell-1-promo-text">Чистка системы охлаждения</div>
                        <div>
                            <span>от</span>
                            <span class="main-two-cell-1-promo-price">2 000 р.</span>
                        </div>
                    </div>
                </a>
                <a href="" class="main-two-cell-1-promo">
                    <div class="main-two-cell-1-promo-border">
                        <div class="main-two-cell-1-promo-text">Замена термопасты</div>
                        <div>
                            <span>от</span>
                            <span class="main-two-cell-1-promo-price">1 000 р.</span>
                        </div>
                    </div>
                </a>
                <a href="" class="main-two-cell-1-promo">
                    <div class="main-two-cell-1-promo-border">
                        <div class="main-two-cell-1-promo-text">Настройка Wi-Fi</div>
                        <div>
                            <span>от</span>
                            <span class="main-two-cell-1-promo-price">1 000 р.</span>
                        </div>
                    </div>
                </a>
                <a href="" class="main-two-cell-1-promo">
                    <div class="main-two-cell-1-promo-border">
                        <div class="main-two-cell-1-promo-text">Удаление вирусов</div>
                        <div>
                            <span>от</span>
                            <span class="main-two-cell-1-promo-price">2 000 р.</span>
                        </div>
                    </div>
                </a>
                <a href="" class="main-two-cell-1-promo">
                    <div class="main-two-cell-1-promo-border">
                        <div class="main-two-cell-1-promo-text">Установка драйверов, ПО</div>
                        <div>
                            <span>от</span>
                            <span class="main-two-cell-1-promo-price">2 500 р.</span>
                        </div>
                    </div>
                </a>
                <a href="" class="main-two-cell-1-promo">
                    <div class="main-two-cell-1-promo-border">
                        <div class="main-two-cell-1-promo-text">Восстановление данных</div>
                        <div>
                            <span>от</span>
                            <span class="main-two-cell-1-promo-price">4 000 р.</span>
                        </div>
                    </div>
                </a>
                <div class="main-two-cell-1-promo-btn">
                    <a href="" class="button-about">Подробнее</a>
                </div>
            </div>
            <div class="main-two-cell-2 box-shadow span-4">
                <div class="main-two-cell-2-a">
                    <div class="main-two-cell-2-h">Полезно знать</div>
                    <div class="main-two-cell-2-img"></div>
                    <div class="main-two-cell-2-h2">
                        Стоит ли ремонтировать технику <br>самостоятельно?
                    </div>
                    <div class="main-two-cell-2-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. <br>Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur.
                    </div>
                    <div class="main-two-cell-2-bot">
                        <a href="" class="cross-link-blue">Читать дальше</a>
                        <div class="main-two-cell-2-date">30-02-2016</div>
                    </div>
                </div>
                <div class="main-two-cell-2-b">
                    <div class="main-two-cell-2-img"></div>
                    <div class="main-two-cell-2-h2">
                        Как правильно организовать <br>
                        домашнюю сеть
                    </div>
                    <div class="main-two-cell-2-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. <br>Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur.
                    </div>
                    <div class="main-two-cell-2-bot">
                        <a href="" class="cross-link-blue">Читать дальше</a>
                        <div class="main-two-cell-2-date">24-02-2016</div>
                    </div>
                    <div class="main-two-cell-2-btn">
                        <a href="" class="button-about">Все статьи</a>
                    </div>
                </div>
            </div>
            <div class="main-two-cell-3 span-4 omega">
                <div class="main-two-cell-3-1  box-shadow">
                    <div class="main-two-cell-2-h">Что о нас говорят</div>
                    <div class="main-two-cell-social">
                        <div class="main-two-cell-2-ava"></div>
                        <div class="main-two-cell-social-info">
                            <div class="main-two-cell-2-h2">Дмитрий Бойко</div>
                            <div class="main-two-cell-2-text-mini">Услуга: Ремонт телефона</div>
                            <div class="main-two-cell-2-bot">
                                <a href="" class="social-link"></a>
                                <div class="main-two-cell-2-text-mini">23.02.2016</div>
                            </div>
                        </div>
                    </div>
                    <div class="main-two-cell-2-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. <br>Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur.
                    </div>
                    <div class="main-two-cell-2-bot">
                        <a href="" class="cross-link-blue">Все отзывы</a>
                        <div>
                            <a href="" class="carousel-arrow-mini"></a>
                            <a href="" class="carousel-arrow-mini"></a>
                        </div>
                    </div>
                </div>
                <div class="main-two-cell-3-2  box-shadow">
                    <div class="main-two-cell-2-h">
                        Оформите заявку онлайн и<br>
                        <span class="blue-color">получите скидку 10 %</span>
                    </div>
                    <form action="/echo" method="post">
                        <div class="form-1">
                            <input class="input-class" type="text" id="name" name="name" placeholder="Ваше имя">
                            <input class="input-class" type="text" id="name" name="name" placeholder="Телефон">
                        </div>
                    </form>
                    <div class="main-two-cell-2-text-mini">Наш мастер перезвоним Вам в течении 3-4 минут.</div>
                    <div class="main-two-cell-2-btn">
                        <a href="" class="button-about">Отправить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-outer-container-three">
        <div class="main-three-cell-1 span-6"></div>
        <div class="main-three-cell-2 span-3"></div>
        <div class="main-three-cell-3 span-3 omega"></div>
        <div class="main-three-cell-4 span-6"></div>
        <div class="main-three-cell-5 span-6 omega"></div>
        <div class="main-three-cell-6 span-12 omega"></div>
    </div>
</main>
<footer class="footer-all">
    <div class="footer-outer-container">
        <div class="footer-top-cell-one span-3"></div>
        <div class="footer-top-cell-two span-3">
            <div class="footer-icon-one"></div>
            <div class="footer-text">
                г. Нижний новгород,<br>пр-т. Ленина, 36, оф. 111
            </div>
        </div>
        <div class="footer-top-cell-three span-3">
            <div class="footer-icon-two"></div>
            <div class="footer-text">
                Пн.-Сб.: с 10:00 до 19:00<br>Вс.: выходной
            </div>
        </div>
        <div class="footer-top-cell-four span-3 omega">
            <div class="footer-icon-three"></div>
            <div class="footer-top-address">
                <div class="footer-text-phone">(831) 424-99-90</div>
                <a href="" class="footer-text-info">Заказать звонок</a>
            </div>
        </div>
        <div class="footer-middle-line span-12 omega"></div>
        <div class="footer-bottom-cell span-12 omega">
            <div>© 2016 СЕРВИСНЫЙ ЦЕНТР «АЙТИ-НН», Все права защищены</div>
            <a href="" class="social-link"></a>
        </div>
    </div>
</footer>
</body>
</html>