<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/test-index-page.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
<header class="header-all">
    <div class="header-top-side">
        <nav class="header-menu">
            <div class="header-menu-bar">
                <a href="index.html" class="header-button">Услуги</a>
                <a href="" class="header-button">Цены</a>
                <a href="" class="header-button">Скидки и акции</a>
                <a href="" class="header-button">Гарантии</a>
                <a href="" class="header-button">Статьи</a>
                <a href="" class="header-button">О нас</a>
                <a href="" class="header-button">Контакты</a>
            </div>
            <div class="header-social-link-bar">
                <a href="" class="header-social-link"></a>
            </div>
        </nav>
    </div>
    <div class="header-bottom-side">
        <div class="header-info-bar">
            <a href="" class="header-infocell"></a>
            <div class="header-infocell">
                <div class="header-infocell-num">(831) 424-99-90</div>
                <a href="" class="header-infocell-text">Заказать звонок</a>
            </div>
            <div class="header-infocell">
                <div class="header-infocell-text-r">
                    <a href="" class="header-infocell-text-time">Пн.-Сб.: с <b>10:00</b> до <b>19:00</b></a>
                    <a href="" class="header-infocell-text-adr">г. Нижний новгород,<br>пр-т. Ленина, 36, оф. 111</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="main-all">
    <div class="main-outer-container-one">
        <a href="" class="main-top-cell span-3">
            <div class="main-icon-1"></div>
            <div class="main-top-text">Ремонт<br>компьютеров</div>
        </a>
        <a href="" class="main-top-cell span-3">
            <div class="main-icon-2"></div>
            <div class="main-top-text">Ремонт<br>ноутбуков</div>
        </a>
        <a href="" class="main-top-cell span-3">
            <div class="main-icon-3"></div>
            <div class="main-top-text">Ремонт<br>планшетов</div>
        </a>
        <a href="" class="main-top-cell span-3 omega">
            <div class="main-icon-4"></div>
            <div class="main-top-text">Ремонт<br>электронных книг</div>
        </a>
        <a href="" class="main-top-cell span-3">
            <div class="main-icon-5"></div>
            <div class="main-top-text">Ремонт<br>техники Apple</div>
        </a>
        <a href="" class="main-top-cell span-3">
            <div class="main-icon-6"></div>
            <div class="main-top-text">Ремонт<br>телефонов</div>
        </a>
        <a href="" class="main-top-cell span-3">
            <div class="main-icon-7"></div>
            <div class="main-top-text">Настройка 1С</div>
        </a>
        <a href="" class="main-top-cell span-3 omega">
            <div class="main-icon-8"></div>
            <div class="main-top-text">Обслуживание<br>организаций</div>
        </a>
        <div class="main-carousel span-12 omega">
            <!--Имитация карусели начало-->
            <div class="main-carousel-container">
                <div class="carousel-arrow"></div>
                <div class="main-carousel-promo">
                    <div class="test-1">Оказываем любую<br>компьютерную помощь</div>
                    <div class="test-2">
                        Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </div>
                    <a href="" class="test-3">Подробнее</a>
                </div>
            </div>
            <div class="carousel-arrow"></div>
        </div>
        <div class="main-carousel-bar span-12 omega">
            <div class="trial-carousel"></div>
            <div class="trial-carousel"></div>
            <div class="trial-carousel"></div>
        </div>
    </div>
        <!--Имитация карусели окончание-->
    <div class="main-about">
        <div class="main-outer-container-two">
            <div class="main-two-cell-1 span-4"></div>
            <div class="main-two-cell-2 span-4"></div>
            <div class="main-two-cell-3 span-4 omega">
                <div class="main-two-cell-3-1"></div>
                <div class="main-two-cell-3-2"></div>
            </div>
        </div>
    </div>
    <div class="main-outer-container-three">
        <div class="main-three-cell-1 span-6"></div>
        <div class="main-three-cell-2 span-3"></div>
        <div class="main-three-cell-3 span-3 omega"></div>
        <div class="main-three-cell-4 span-6"></div>
        <div class="main-three-cell-5 span-6 omega"></div>
        <div class="main-three-cell-6 span-12 omega"></div>
    </div>
</main>
<footer class="footer-all">
    <div class="footer-outer-container">
        <div class="footer-top-cell-one span-3"></div>
        <div class="footer-top-cell-two span-3">
            <div class="footer-icon-one"></div>
            <div class="footer-text">
                г. Нижний новгород,<br>пр-т. Ленина, 36, оф. 111
            </div>
        </div>
        <div class="footer-top-cell-three span-3">
            <div class="footer-icon-two"></div>
            <div class="footer-text">
                Пн.-Сб.: с 10:00 до 19:00<br>Вс.: выходной
            </div>
        </div>
        <div class="footer-top-cell-four span-3 omega">
            <div class="footer-icon-three"></div>
            <div class="footer-top-address">
                <div class="footer-text-phone">(831) 424-99-90</div>
                <a href="" class="footer-text-info">Заказать звонок</a>
            </div>
        </div>
        <div class="footer-middle-line span-12 omega"></div>
        <div class="footer-bottom-cell span-12 omega">
            <div class="">© 2016 СЕРВИСНЫЙ ЦЕНТР «АЙТИ-НН», Все права защищены</div>
            <a href="" class="social-link"></a>
        </div>
    </div>
</footer>
</body>
</html>