<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Статьи</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
<header class="header-all box-shadow-header">
    <div class="header-top-side">
        <nav class="header-menu justify">
            <div class="header-menu-bar">
                <a href="service.html" class="header-button">Услуги</a>
                <a href="price.html" class="header-button">Цены</a>
                <a href="sales.html" class="header-button">Скидки и акции</a>
                <a href="warranty.html" class="header-button">Гарантии</a>
                <a href="press.html" class="header-button active_page">Статьи</a>
                <a href="about.html" class="header-button">О нас</a>
                <a href="contacts.html" class="header-button">Контакты</a>
            </div>
            <a href="" class="social-link"></a>
        </nav>
    </div>
    <div class="header-bottom-side">
        <a href="index.html" class="header-infocell">
            <div class="justify start">
                <div class="h-logo"></div>
            </div>
        </a>
        <div class="header-infocell">
            <div class="justify column">
                <div class="h-phone">(831) 424-99-90</div>
                <a href="" class="h-service">Заказать звонок</a>
            </div>
        </div>
        <div class="header-infocell">
            <div class="justify end">
                <div class="justify column i-start">
                    <a href="" class="h-cell-3">Пн.-Сб.: с <b>10:00</b> до <b>19:00</b></a>
                    <a href="" class="h-cell-4">г. Нижний новгород,<br>пр-т. Ленина, 36, оф. 111</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="main-container-1 margin-t2">
        <a href="custom_work_pc.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-1"></div>
                <div class="main-top-text">Ремонт<br>компьютеров</div>
            </div>
        </a>
        <a href="custom_work_notebook.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-2"></div>
                <div class="main-top-text">Ремонт<br>ноутбуков</div>
            </div>
        </a>
        <a href="custom_work_pad.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-3"></div>
                <div class="main-top-text">Ремонт<br>планшетов</div>
            </div>
        </a>
        <a href="custom_work_ebook.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-4"></div>
                <div class="main-top-text">Ремонт<br>электронных книг</div>
            </div>
        </a>
        <a href="custom_work.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-5"></div>
                <div class="main-top-text">Ремонт<br>техники Apple</div>
            </div>
        </a>
        <a href="custom_work.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-6"></div>
                <div class="main-top-text">Ремонт<br>телефонов</div>
            </div>
        </a>
        <a href="custom_work.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-7"></div>
                <div class="main-top-text">Настройка 1С</div>
            </div>
        </a>
        <a href="custom_work.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-8"></div>
                <div class="main-top-text">Обслуживание<br>организаций</div>
            </div>
        </a>
    </div>

    <div class="main-container-sale">
        <div class="main-triangle-container sales-triangle">
            <div class="triangle">
                <div class="triangle-left"></div>
                <div class="triangle-right"></div>
            </div>
        </div>

        <div class="warranty-container">
            <div class="warranty-h-cell text-h-sale">Статьи</div>
            <div class="warranty-cell box-shadow">
                <div class="warranty-cell-normalize justify column i-start">
                    <div class="justify column start i-stretch">
                        <div class="block-h1">Стоит ли ремонтировать технику самостоятельно?
                        </div>
                        <div class="text-block-16">
                            Если Вы принесли для ремонта свой ноутбук, моноблок или компьютер, вы можете не переживать за сохранность вашей информации, т.к. мы бесплатно и при Вас извлечем из устройства жесткий диск и отдадим его Вам на время ремонта, после чего бесплатно установим обратно.
                        </div>
                    </div>
                    <div class="justify">
                        <a href="custom_press.html" class="cross-link-blue">Читать далее</a>
                        <div class="text-date">30-02-2016</div>
                    </div>
                </div>
            </div>
            <div class="warranty-cell box-shadow">
                <div class="warranty-cell-normalize justify column i-start">
                    <div class="justify column start i-stretch">
                        <div class="block-h1">Стоит ли ремонтировать технику самостоятельно?
                        </div>
                        <div class="text-block-16">
                            Если Вы принесли для ремонта свой ноутбук, моноблок или компьютер, вы можете не переживать за сохранность вашей информации, т.к. мы бесплатно и при Вас извлечем из устройства жесткий диск и отдадим его Вам на время ремонта, после чего бесплатно установим обратно.
                        </div>
                    </div>
                    <div class="justify">
                        <a href="custom_press.html" class="cross-link-blue">Читать далее</a>
                        <div class="text-date">30-02-2016</div>
                    </div>
                </div>
            </div>
            <div class="warranty-cell box-shadow">
                <div class="warranty-cell-normalize justify column i-start">
                    <div class="justify column start i-stretch">
                        <div class="block-h1">Стоит ли ремонтировать технику самостоятельно?
                        </div>
                        <div class="text-block-16">
                            Если Вы принесли для ремонта свой ноутбук, моноблок или компьютер, вы можете не переживать за сохранность вашей информации, т.к. мы бесплатно и при Вас извлечем из устройства жесткий диск и отдадим его Вам на время ремонта, после чего бесплатно установим обратно.
                        </div>
                    </div>
                    <div class="justify">
                        <a href="custom_press.html" class="cross-link-blue">Читать далее</a>
                        <div class="text-date">30-02-2016</div>
                    </div>
                </div>
            </div>
            <div class="warranty-cell box-shadow">
                <div class="warranty-cell-normalize justify column i-start">
                    <div class="justify column start i-stretch">
                        <div class="block-h1">Стоит ли ремонтировать технику самостоятельно?
                        </div>
                        <div class="text-block-16">
                            Если Вы принесли для ремонта свой ноутбук, моноблок или компьютер, вы можете не переживать за сохранность вашей информации, т.к. мы бесплатно и при Вас извлечем из устройства жесткий диск и отдадим его Вам на время ремонта, после чего бесплатно установим обратно.
                        </div>
                    </div>
                    <div class="justify">
                        <a href="custom_press.html" class="cross-link-blue">Читать далее</a>
                        <div class="text-date">30-02-2016</div>
                    </div>
                </div>
            </div>
            <div class="warranty-cell box-shadow">
                <div class="warranty-cell-normalize justify column i-start">
                    <div class="justify column start i-stretch">
                        <div class="block-h1">Стоит ли ремонтировать технику самостоятельно?
                        </div>
                        <div class="text-block-16">
                            Если Вы принесли для ремонта свой ноутбук, моноблок или компьютер, вы можете не переживать за сохранность вашей информации, т.к. мы бесплатно и при Вас извлечем из устройства жесткий диск и отдадим его Вам на время ремонта, после чего бесплатно установим обратно.
                        </div>
                    </div>
                    <div class="justify">
                        <a href="custom_press.html" class="cross-link-blue">Читать далее</a>
                        <div class="text-date">30-02-2016</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer-all">
    <div class="footer-outer-container">
        <a href="index.html" class="footer-top-cell-1"></a>
        <div class="footer-top-cell-2">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    г. Нижний новгород,<br>пр-т. Ленина, 36, оф. 111
                </div>
            </div>
        </div>
        <div class="footer-top-cell-3">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    Пн.-Сб.: с 10:00 до 19:00<br>Вс.: выходной
                </div>
            </div>
        </div>
        <div class="footer-top-cell-4">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    <div class="footer-contacts-phone">(831) 424-99-90</div>
                    <a href="" class="footer-contacts-info">Заказать звонок</a>
                </div>
            </div>
        </div>
        <div class="footer-middle-line span-12 omega"></div>
        <div class="footer-bottom-cell justify span-12 omega">
            <div>© 2016 СЕРВИСНЫЙ ЦЕНТР «АЙТИ-НН», Все права защищены</div>
            <a href="" class="social-link"></a>
        </div>
    </div>
</footer>
</body>
</html>