<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Цены</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
<header class="header-all box-shadow-header">
    <div class="header-top-side">
        <nav class="header-menu container">
            <div class="justify">
                <div class="h-menu-c">
                    <div class="header-button-mob">
                        <div class="justify">
                            <div class="header-menu-button-block">
                                <div class="header-menu-button-line"></div>
                                <div class="header-menu-button-line"></div>
                                <div class="header-menu-button-line"></div>
                            </div>
                            <span>Меню</span>
                        </div>
                    </div>
                    <div class="header-menu-list">
                        <a href="service.html" class="header-button header-button-m">
                            <div class="h-button-normalizer">
                                <span>Услуги</span>
                            </div>
                        </a>
                        <a href="price.html" class="header-button active_page">
                            <div class="h-button-normalizer">
                                <span>Цены</span>
                            </div>
                        </a>
                        <a href="sales.html" class="header-button header-button-m">
                            <div class="h-button-normalizer">
                                <span>Скидки и акции</span>
                            </div>
                        </a>
                        <a href="warranty.html" class="header-button header-button-m">
                            <div class="h-button-normalizer">
                                <span>Гарантии</span>
                            </div>
                        </a>
                        <a href="press.html" class="header-button header-button-m">
                            <div class="h-button-normalizer">
                                <span>Статьи</span>
                            </div>
                        </a>
                        <a href="about.html" class="header-button header-button-m">
                            <div class="h-button-normalizer">
                                <span>О нас</span>
                            </div>
                        </a>
                        <a href="contacts.html" class="header-button header-button-m">
                            <div class="h-button-normalizer">
                                <span>Контакты</span>
                            </div>
                        </a>
                    </div>
                </div>
                <a href="/" class="social-link-m"></a>
            </div>
        </nav>
    </div>
    <div class="header-bottom-side">
        <a href="/" class="header-infocell header-infocell-1">
            <div class="justify start">
                <div class="h-logo"></div>
            </div>
        </a>
        <div class="header-infocell header-infocell-2 phone-animation">
            <div class="justify column">
                <div class="h-phone">(831) 424-99-90</div>
                <a href="/" class="h-service">Заказать звонок</a>
            </div>
        </div>
        <div class="header-infocell header-infocell-3">
            <div class="justify end">
                <div class="justify column i-start">
                    <a href="/" class="h-cell-3">Пн.-Сб.: с <b>10:00</b> до <b>19:00</b></a>
                    <a href="/" class="h-cell-4">г. Нижний новгород,<br>пр-т. Ленина, 36, оф. 111</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="breadcrumbs">
            <a href="index.html" class="cross-link">Главная</a>
            <span>&nbsp;/&nbsp;</span>
            <a href="service.html" class="cross-link-blue">Услуги</a>
        </div>
    </div>

    <div class="whitesmoke-bg padding-t1">

        <div class="container margin-b2">
            <div class="price-menu text-block-16 box-shadow">
                <div class="price-menu-cell-1">
                    <div class="s-normalizer">
                        Выберите нужную категорию:
                    </div>
                </div>
                <div class="price-menu-cell-2">
                    <div class="s-normalizer">
                        <div class="padding-l-1">Ремонт компьютеров</div>
                        <img class="img-check" src="assets/img/icons/icon_check_big.png">
                    </div>
                    <div class="price-menu-list box-shadow">
                        <a href="custom_work_pc.html" class="s-normalizer-menu">
                            <div class="">Ремонт компьютеров</div>
                        </a>
                        <a href="custom_work_mono.html" class="s-normalizer-menu">
                            <div class="">Ремонт моноблоков</div>
                        </a>
                        <a href="custom_work_notebook.html" class="s-normalizer-menu">
                            <div class="">Ремонт ноутбуков</div>
                        </a>
                        <a href="custom_work_apple.html" class="s-normalizer-menu">
                            <div class="">Ремонт техники Apple</div>
                        </a>
                        <a href="custom_work_pad.html" class="s-normalizer-menu">
                            <div class="">Ремонт планшетов</div>
                        </a>
                        <a href="custom_work_phone.html" class="s-normalizer-menu">
                            <div class="">Ремонт смартфонов</div>
                        </a>
                        <a href="custom_work_ebook.html" class="s-normalizer-menu">
                            <div class="">Ремонт электронных книг</div>
                        </a>
                        <a href="custom_work_monitor.html" class="s-normalizer-menu">
                            <div class="">Ремонт мониторов</div>
                        </a>
                        <a href="custom_work_ur.html" class="s-normalizer-menu">
                            <div class="">Для юридических лиц</div>
                        </a>
                    </div><!---->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="price-block price-block-1 box-shadow">
                <div class="t-h blue padding-l2 margin-b1">Ремонт компьютеров</div>
                <table class="table-text p-table">
                    <thead>
                    <tr class="t-h">
                        <th class="col-1 col-first">Услуги</th>
                        <th class="col-2">Акция</th>
                        <th class="col-3">Цены</th>
                        <th class="col-4">Гарантии</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="row">
                        <td class="col-first">1. Настройка компьютера</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">6 000</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">2. Установка драйверов Windows, ПО</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">3 500</b> р.</td>
                        <td class=""><b class="blue-color">6</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">3. Чистка компьютера от пыли</td>
                        <td class="table-img-pad">
                            <img class="img-price" src="assets/img/images/c-price/icon_discount.png">
                            <span class="color-transparent"></span>
                        </td>
                        <td class=""><b class="blue-color">2 000</b> р.</td>
                        <td class=""><b class="blue-color">9</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">4. Замена комплектующих</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">4 400</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">5. Удаление вирусов</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">5 000</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="price-block price-block-2 box-shadow">
                <div class="t-h blue padding-l2 margin-b1">Ремонт моноблоков</div>
                <table class="table-text p-table">
                    <thead>
                    <tr class="t-h">
                        <th class="col-1 col-first">Услуги</th>
                        <th class="col-2">Акция</th>
                        <th class="col-3">Цены</th>
                        <th class="col-4">Гарантии</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="row">
                        <td class="col-first">1. Ремонт дисплея</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">6 000</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">2. Установка драйверов Windows, ПО</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">3 500</b> р.</td>
                        <td class=""><b class="blue-color">6</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">3. Чистка компьютера от пыли</td>
                        <td class="table-img-pad">
                            <img class="img-price" src="assets/img/images/c-price/icon_discount.png">
                            <span class="color-transparent"></span>
                        </td>
                        <td class=""><b class="blue-color">2 000</b> р.</td>
                        <td class=""><b class="blue-color">9</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">4. Замена комплектующих</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">4 400</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">5. Апгрейд</td>
                        <td class="table-img-pad">
                            <img class="img-price" src="assets/img/images/c-price/icon_discount.png">
                            <span class="color-transparent"></span>
                        </td>
                        <td class=""><b class="blue-color">5 000</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="price-block price-block-3 box-shadow">
                <div class="t-h blue padding-l2 margin-b1">Ремонт ноутбуков</div>
                <table class="table-text p-table">
                    <thead>
                    <tr class="t-h">
                        <th class="col-1 col-first">Услуги</th>
                        <th class="col-2">Акция</th>
                        <th class="col-3">Цены</th>
                        <th class="col-4">Гарантии</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="row">
                        <td class="col-first">1. Замена матрицы</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">6 000</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">2. Замена разъемов</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">3 500</b> р.</td>
                        <td class=""><b class="blue-color">6</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">3. Чистка ноутбука</td>
                        <td class="table-img-pad">
                            <img class="img-price" src="assets/img/images/c-price/icon_discount.png">
                            <span class="color-transparent"></span>
                        </td>
                        <td class=""><b class="blue-color">2 000</b> р.</td>
                        <td class=""><b class="blue-color">9</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">4. Установка драйверов, Windows, ПО</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">4 400</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">5. Восстановление после залития</td>
                        <td class="table-img-pad">
                            <span class="color-transparent"></span>
                        </td>
                        <td class=""><b class="blue-color">5 000</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="price-block price-block-4 box-shadow">
                <div class="t-h blue padding-l2 margin-b1">Ремонт техники Apple</div>
                <table class="table-text p-table">
                    <thead>
                    <tr class="t-h">
                        <th class="col-1 col-first">Услуги</th>
                        <th class="col-2">Акция</th>
                        <th class="col-3">Цены</th>
                        <th class="col-4">Гарантии</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="row">
                        <td class="col-first">1. Ремонт разъема питания</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">6 000</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">2. Замена стекла / дисплейного модуля</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">3 500</b> р.</td>
                        <td class=""><b class="blue-color">6</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">3. Замена аккумулятора iphone / ipad</td>
                        <td class="table-img-pad">
                            <img class="img-price" src="assets/img/images/c-price/icon_discount.png">
                            <span class="color-transparent"></span>
                        </td>
                        <td class=""><b class="blue-color">2 000</b> р.</td>
                        <td class=""><b class="blue-color">9</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">4. Чистка после залития</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">4 400</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">5. Ремонт кнопки включения</td>
                        <td class="table-img-pad">
                            <span class="color-transparent"></span>
                        </td>
                        <td class=""><b class="blue-color">5 000</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="price-block price-block-5 box-shadow">
                <div class="t-h blue padding-l2 margin-b1">Ремонт планшетов</div>
                <table class="table-text p-table">
                    <thead>
                    <tr class="t-h">
                        <th class="col-1 col-first">Услуги</th>
                        <th class="col-2">Акция</th>
                        <th class="col-3">Цены</th>
                        <th class="col-4">Гарантии</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="row">
                        <td class="col-first">1. Замена дисплея</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">6 000</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">2. Замена тачскрина</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">3 500</b> р.</td>
                        <td class=""><b class="blue-color">6</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">3. Ремонт разъемов</td>
                        <td class="table-img-pad">
                            <img class="img-price" src="assets/img/images/c-price/icon_discount.png">
                            <span class="color-transparent"></span>
                        </td>
                        <td class=""><b class="blue-color">2 000</b> р.</td>
                        <td class=""><b class="blue-color">9</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">4. Обновление прошивки</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">4 400</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">5. Замена аккумулятора</td>
                        <td class="table-img-pad">
                            <span class="color-transparent"></span>
                        </td>
                        <td class=""><b class="blue-color">5 000</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="price-block price-block-6 box-shadow">
                <div class="t-h blue padding-l2 margin-b1">Ремонт смартфонов</div>
                <table class="table-text p-table">
                    <thead>
                    <tr class="t-h">
                        <th class="col-1 col-first">Услуги</th>
                        <th class="col-2">Акция</th>
                        <th class="col-3">Цены</th>
                        <th class="col-4">Гарантии</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="row">
                        <td class="col-first">1. Замена дисплея</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">6 000</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">2. Ремонт микрофона / динамика</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">3 500</b> р.</td>
                        <td class=""><b class="blue-color">6</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">3. Замена разъема питания</td>
                        <td class="table-img-pad">
                            <img class="img-price" src="assets/img/images/c-price/icon_discount.png">
                            <span class="color-transparent"></span>
                        </td>
                        <td class=""><b class="blue-color">2 000</b> р.</td>
                        <td class=""><b class="blue-color">9</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">4. Обновление прошивки</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">4 400</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">5. Замена аккумулятора</td>
                        <td class="table-img-pad">
                            <span class="color-transparent"></span>
                        </td>
                        <td class=""><b class="blue-color">5 000</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="price-block price-block-7 box-shadow">
                <div class="t-h blue padding-l2 margin-b1">Ремонт электронных книг</div>
                <table class="table-text p-table">
                    <thead>
                    <tr class="t-h">
                        <th class="col-1 col-first">Услуги</th>
                        <th class="col-2">Акция</th>
                        <th class="col-3">Цены</th>
                        <th class="col-4">Гарантии</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="row">
                        <td class="col-first">1. Замена дисплея</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">6 000</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">2. Замена тачскрина</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">3 500</b> р.</td>
                        <td class=""><b class="blue-color">6</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">3. Замена разъема питания</td>
                        <td class="table-img-pad">
                            <img class="img-price" src="assets/img/images/c-price/icon_discount.png">
                            <span class="color-transparent"></span>
                        </td>
                        <td class=""><b class="blue-color">2 000</b> р.</td>
                        <td class=""><b class="blue-color">9</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">4. Обновление прошивки</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">4 400</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">5. Замена аккумулятора</td>
                        <td class="table-img-pad">
                            <span class="color-transparent"></span>
                        </td>
                        <td class=""><b class="blue-color">5 000</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="price-block price-block-8 box-shadow">
                <div class="t-h blue padding-l2 margin-b1">Ремонт Мониторов</div>
                <table class="table-text p-table">
                    <thead>
                    <tr class="t-h">
                        <th class="col-1 col-first">Услуги</th>
                        <th class="col-2">Акция</th>
                        <th class="col-3">Цены</th>
                        <th class="col-4">Гарантии</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="row">
                        <td class="col-first">1. Замена лампы подсветки</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">6 000</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">2. Ремонт блока питания монитора</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">3 500</b> р.</td>
                        <td class=""><b class="blue-color">6</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">3. Ремонт платы управления</td>
                        <td class="table-img-pad">
                            <img class="img-price" src="assets/img/images/c-price/icon_discount.png">
                            <span class="color-transparent"></span>
                        </td>
                        <td class=""><b class="blue-color">2 000</b> р.</td>
                        <td class=""><b class="blue-color">9</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">4. Ремонт инвертора напряжение</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">4 400</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">5. Замена матрицы</td>
                        <td class="table-img-pad">
                            <span class="color-transparent"></span>
                        </td>
                        <td class=""><b class="blue-color">5 000</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="price-block price-block-9 box-shadow">
                <div class="t-h blue padding-l2 margin-b1">Для юридических лиц</div>
                <table class="table-text p-table">
                    <thead>
                    <tr class="t-h">
                        <th class="col-1 col-first">Услуги</th>
                        <th class="col-2">Акция</th>
                        <th class="col-3">Цены</th>
                        <th class="col-4">Гарантии</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="row">
                        <td class="col-first">1. Монтаж и настройка ЛВС</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">6 000</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">2. Настройка и обслуживание серверов</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">3 500</b> р.</td>
                        <td class=""><b class="blue-color">6</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">3. Техническое обслуживание офисной техники</td>
                        <td class="table-img-pad">
                            <img class="img-price" src="assets/img/images/c-price/icon_discount.png">
                            <span class="color-transparent"></span>
                        </td>
                        <td class=""><b class="blue-color">2 000</b> р.</td>
                        <td class=""><b class="blue-color">9</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">4. Установка и внедрение 1С</td>
                        <td class="table-img-pad"><span class="color-transparent"></span></td>
                        <td class=""><b class="blue-color">4 400</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    <tr class="row">
                        <td class="col-first">5. Сопровождение 1С и бухгалтерского ПО</td>
                        <td class="table-img-pad">
                            <span class="color-transparent"></span>
                        </td>
                        <td class=""><b class="blue-color">5 000</b> р.</td>
                        <td class=""><b class="blue-color">3</b> мес.</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</main>
<footer class="footer-all">
    <div class="footer-outer-container">
        <a href="/" class="footer-top-cell-1"></a>
        <div class="footer-top-cell-2">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    г. Нижний новгород,<br>пр-т. Ленина, 36, оф. 111
                </div>
            </div>
        </div>
        <div class="footer-top-cell-3">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    Пн.-Сб.: с 10:00 до 19:00<br>Вс.: выходной
                </div>
            </div>
        </div>
        <div class="footer-top-cell-4">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    <div class="footer-contacts-phone">(831) 424-99-90</div>
                    <a href="" class="footer-contacts-info">Заказать звонок</a>
                </div>
            </div>
        </div>
        <div class="footer-middle-line span-12 omega"></div>
        <div class="footer-bottom-cell span-12 omega">
            <div class="justify">
                <div>
                    <span>© 2016 СЕРВИСНЫЙ ЦЕНТР «АЙТИ-НН»,&nbsp;</span>
                    <span class="white-space">Все права защищены</span>
                </div>
                <a href="/" class="social-link-m"></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>