<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Услуги</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
<header class="header-all box-shadow-header">
    <div class="header-top-side">
        <nav class="header-menu justify">
            <div class="header-menu-bar">
                <a href="service.html" class="header-button">Услуги</a>
                <a href="price.html" class="header-button">Цены</a>
                <a href="sales.html" class="header-button">Скидки и акции</a>
                <a href="warranty.html" class="header-button">Гарантии</a>
                <a href="press.html" class="header-button">Статьи</a>
                <a href="about.html" class="header-button">О нас</a>
                <a href="contacts.html" class="header-button">Контакты</a>
            </div>
            <a href="" class="social-link"></a>
        </nav>
    </div>
    <div class="header-bottom-side">
        <a href="" class="header-infocell">
            <div class="justify start">
                <div class="h-logo"></div>
            </div>
        </a>
        <div class="header-infocell">
            <div class="justify column">
                <div class="h-phone">(831) 424-99-90</div>
                <a href="" class="h-service">Заказать звонок</a>
            </div>
        </div>
        <div class="header-infocell">
            <div class="justify end">
                <div class="justify column i-start">
                    <a href="" class="h-cell-3">Пн.-Сб.: с <b>10:00</b> до <b>19:00</b></a>
                    <a href="" class="h-cell-4">г. Нижний новгород,<br>пр-т. Ленина, 36, оф. 111</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="breadcrumbs">
            <a href="index.html" class="cross-link">Главная</a>
            <span>&nbsp;/&nbsp;</span>
            <a href="sales.html" class="cross-link-blue">Услуги</a>
        </div>
    </div>

    <div class="whitesmoke-bg padding-t1">

        <div class="container margin-b2">
            <div class="price-menu text-block-16 box-shadow">
                <div class="price-menu-cell-1">
                    <div class="s-normalizer">
                        Выберите нужную категорию:
                    </div>
                </div>
                <a href="" class="price-menu-cell-2">
                    <div class="s-normalizer">
                        <div>Ремонт компьютеров</div>
                        <img  class="img-check" src="assets/img/icons/icon_check_big.png">
                    </div>
                    <div class="price-menu-list box-shadow">
                        <div class="s-normalizer-menu">
                            <div class="">Ремонт компьютеров</div>
                        </div>
                        <div class="s-normalizer-menu">
                            <div class="">Ремонт моноблоков</div>
                        </div>
                        <div class="s-normalizer-menu">
                            <div class="">Ремонт ноутбуков</div>
                        </div>
                        <div class="s-normalizer-menu">
                            <div class="">Ремонт техники Apple</div>
                        </div>
                        <div class="s-normalizer-menu">
                            <div class="">Ремонт планшетов</div>
                        </div>
                        <div class="s-normalizer-menu">
                            <div class="">Ремонт смартфонов</div>
                        </div>
                        <div class="s-normalizer-menu">
                            <div class="">Ремонт электронных книг</div>
                        </div>
                        <div class="s-normalizer-menu">
                            <div class="">Ремонт мониторов</div>
                        </div>
                        <div class="s-normalizer-menu">
                            <div class="">Для юридических лиц</div>
                        </div>
                    </div><!---->
                </a>
            </div>
        </div>
        <div class="container">
            <div class="price-block price-block-1 box-shadow">
                <div class="price-header">Ремонт компьютеров</div>
                <div class="price-header-row">
                    <div class="">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">Услуги</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer">Акция</div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer">Цены</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer">Гарантии</div>
                        </div>
                    </div>
                </div>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">1. Настройка компьютера</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">6 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">2. Установка драйверов Windows, ПО</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">3 500</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">6</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">3. Чистка компьютера от пыли</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer">
                                <img class="img-price" src="assets/img/images/c-price/icon_discount.png">
                            </div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">2 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">9</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">4. Замена комплектующих</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">4 400</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">

                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">5. Удаление вирусов</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">5 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="price-block price-block-2 box-shadow">
                <div class="price-header">Ремонт моноблоков</div>
                <div class="price-header-row">
                    <div class="">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">Услуги</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer">Акция</div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer">Цены</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer">Гарантии</div>
                        </div>
                    </div>
                </div>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">1. Ремонт дисплея</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">6 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">2. Установка драйверов Windows, ПО</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">3 500</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">6</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">3. Чистка компьютера от пыли</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer">
                                <img class="img-price" src="assets/img/images/c-price/icon_discount.png">
                            </div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">2 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">9</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">4. Замена комплектующих</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">4 400</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">

                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">5. Апгрейд</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer">
                                <img class="img-price" src="assets/img/images/c-price/icon_discount.png">
                            </div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">5 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="price-block price-block-3 box-shadow">
                <div class="price-header">Ремонт ноутбуков</div>
                <div class="price-header-row">
                    <div class="">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">Услуги</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer">Акция</div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer">Цены</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer">Гарантии</div>
                        </div>
                    </div>
                </div>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">1. Замена матрицы</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">6 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">2. Замена разъемов</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">3 500</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">6</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">3. Чистка ноутбука</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer">
                                <img class="img-price" src="assets/img/images/c-price/icon_discount.png">
                            </div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">2 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">9</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">4. Установка драйверов, Windows, ПО</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">4 400</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">5. Восстановление после залития</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">5 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="price-block price-block-4 box-shadow">
                <div class="price-header">Ремонт техники Apple</div>
                <div class="price-header-row">
                    <div class="">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">Услуги</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer">Акция</div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer">Цены</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer">Гарантии</div>
                        </div>
                    </div>
                </div>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">1. Ремонт разъема питания</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">6 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">2. Замена стекла / дисплейного модуля</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">3 500</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">6</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">3. Замена аккумулятора iphone / ipad</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer">
                                <img class="img-price" src="assets/img/images/c-price/icon_discount.png">
                            </div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">2 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">9</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">4. Чистка после залития</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">4 400</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">5. Ремонт кнопки включения</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">5 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="price-block price-block-5 box-shadow">
                <div class="price-header">Ремонт планшетов</div>
                <div class="price-header-row">
                    <div class="">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">Услуги</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer">Акция</div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer">Цены</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer">Гарантии</div>
                        </div>
                    </div>
                </div>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">1. Замена дисплея</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">6 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">2. Замена тачскрина</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">3 500</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">6</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">3. Ремонт разъемов</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer">
                                <img class="img-price" src="assets/img/images/c-price/icon_discount.png">
                            </div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">2 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">9</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">4. Обновление прошивки</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">4 400</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">5. Замена аккумулятора</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">5 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="price-block price-block-6 box-shadow">
                <div class="price-header">Ремонт смартфонов</div>
                <div class="price-header-row">
                    <div class="">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">Услуги</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer">Акция</div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer">Цены</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer">Гарантии</div>
                        </div>
                    </div>
                </div>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">1. Замена дисплея</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">6 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">2. Ремонт микрофона / динамика</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">3 500</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">6</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">3. Pамена разъема питания</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer">
                                <img class="img-price" src="assets/img/images/c-price/icon_discount.png">
                            </div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">2 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">9</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">4. Обновление прошивки</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">4 400</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">5. Замена аккумулятора</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">5 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="price-block price-block-7 box-shadow">
                <div class="price-header">Ремонт электронных книг</div>
                <div class="price-header-row">
                    <div class="">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">Услуги</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer">Акция</div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer">Цены</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer">Гарантии</div>
                        </div>
                    </div>
                </div>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">1. Замена дисплея</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">6 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">2. Замена тачскрина</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">3 500</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">6</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">3. Pамена разъема питания</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer">
                                <img class="img-price" src="assets/img/images/c-price/icon_discount.png">
                            </div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">2 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">9</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">4. Обновление прошивки</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">4 400</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">5. Замена аккумулятора</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">5 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="price-block price-block-8 box-shadow">
                <div class="price-header">Ремонт Мониторов</div>
                <div class="price-header-row">
                    <div class="">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">Услуги</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer">Акция</div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer">Цены</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer">Гарантии</div>
                        </div>
                    </div>
                </div>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">1. Замена лампы подсветки</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">6 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">2. Ремонт блока питания монитора</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">3 500</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">6</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">3. Ремонт платы управления</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer">
                                <img class="img-price" src="assets/img/images/c-price/icon_discount.png">
                            </div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">2 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">9</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">4. Ремонт инвертора напряжение</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">4 400</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">5. Замена матрицы</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">5 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="price-block price-block-9 box-shadow">
                <div class="price-header">Для юридических лиц</div>
                <div class="price-header-row">
                    <div class="">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">Услуги</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer">Акция</div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer">Цены</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer">Гарантии</div>
                        </div>
                    </div>
                </div>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">1. Монтаж и настройка ЛВС</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">6 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">2. Настройка и обслуживание серверов</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">3 500</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">6</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">3. Техническое обслуживание офисной техники</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer">
                                <img class="img-price" src="assets/img/images/c-price/icon_discount.png">
                            </div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">2 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">9</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">4. Установка и внедрение 1С</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">4 400</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
                <a href="" class="price-row">
                    <div class="border-top">
                        <div class="p-cell p-cell-1">
                            <div class="s-normalizer">5. Сопровождение 1С и бухгалтерского ПО</div>
                        </div>
                        <div class="p-cell p-cell-2">
                            <div class="s-normalizer"></div>
                        </div>
                        <div class="p-cell p-cell-3">
                            <div class="s-normalizer"><b class="blue-color">5 000</b>&nbsp;р.</div>
                        </div>
                        <div class="p-cell p-cell-4">
                            <div class="s-normalizer"><b class="blue-color">3</b>&nbsp;мес.</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</main>
<footer class="footer-all">
    <div class="footer-outer-container">
        <a href="" class="footer-top-cell-1"></a>
        <div class="footer-top-cell-2">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    г. Нижний новгород,<br>пр-т. Ленина, 36, оф. 111
                </div>
            </div>
        </div>
        <div class="footer-top-cell-3">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    Пн.-Сб.: с 10:00 до 19:00<br>Вс.: выходной
                </div>
            </div>
        </div>
        <div class="footer-top-cell-4">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    <div class="footer-contacts-phone">(831) 424-99-90</div>
                    <a href="" class="footer-contacts-info">Заказать звонок</a>
                </div>
            </div>
        </div>
        <div class="footer-middle-line span-12 omega"></div>
        <div class="footer-bottom-cell justify span-12 omega">
            <div>© 2016 СЕРВИСНЫЙ ЦЕНТР «АЙТИ-НН», Все права защищены</div>
            <a href="" class="social-link"></a>
        </div>
    </div>
</footer>
</body>
</html>