<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content="">
    <title>Ремонт iPhone 6 Plus</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter38305290 = new Ya.Metrika({
                    id:38305290,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/38305290" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<header class="header-all box-shadow-header">
    <div class="h-top-bg">
        <div class="container">
            <div class="justify">
                <div class="h-button-mobile active_page">
                    <div class="justify">
                        <div class="h-button-mobile-block">
                            <div class="h-button-mobile-block-line"></div>
                            <div class="h-button-mobile-block-line"></div>
                            <div class="h-button-mobile-block-line"></div>
                        </div>
                        <span class="h-button-mobile-text">Меню</span>
                    </div>
                    <div class="v-top-menu">
                            <span class="s-button">
                                <a class="v-button">
                                    <div class="h-button-normalizer">
                                        <span class="">Услуги</span>
                                        <div class="triangle-all">
                                            <div class="triangle-5">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="h-service-menu text-block-16">
                                    <a href="../custom_work_pc.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт компьютеров</span>
                                        </div>
                                    </a>
                                    <a href="../custom_work_mono.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт моноблоков</span>
                                        </div>
                                    </a>
                                    <a href="../custom_work_notebook.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт ноутбуков</span>
                                        </div>
                                    </a>
                                    <a href="../custom_work_pad.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт планшетов</span>
                                        </div>
                                    </a>
                                    <a href="../custom_work_ebook.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт электронных книг</span>
                                        </div>
                                    </a>
                                    <a href="../custom_work_apple.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт техники Apple</span>
                                        </div>
                                    </a>
                                    <a href="../custom_work_monitor.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Ремонт мониторов</span>
                                        </div>
                                    </a>
                                    <a href="../custom_work_1c.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Настройка 1С</span>
                                        </div>
                                    </a>
                                    <a href="../custom_work_ur.html" class="h-service-button">
                                        <div class="h-button-normalizer">
                                            <span class="">Обслуживание организаций</span>
                                        </div>
                                    </a>
                                </div>
                            </span>
                        <a href="../price.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Цены</span>
                            </div>
                        </a>
                        <a href="../sales.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Акции</span>
                            </div>
                        </a>
                        <a href="../warranty.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Гарантии</span>
                            </div>
                        </a>
                        <a href="../press.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Статьи</span>
                            </div>
                        </a>
                        <a href="../about.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>О нас</span>
                            </div>
                        </a>
                        <a href="../comments.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Отзывы</span>
                            </div>
                        </a>
                        <a href="../contacts.html" class="v-button">
                            <div class="h-button-normalizer">
                                <span>Контакты</span>
                            </div>
                        </a>
                    </div>
                </div>
                <!--Меню для мобильных приложений. Окончание-->
                <!--Блок горизонтального меню. Начало-->
                <div class="h-top-menu">
                    <span class="s-button">
                        <a href="../service.html" class="h-button active_page">
                            <div class="h-button-normalizer">
                                <span class="">Услуги</span>
                                <div class="triangle-all">
                                    <div class="triangle-5">
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="h-service-menu text-block-16">
                            <a href="../custom_work_pc.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт компьютеров</span>
                                </div>
                            </a>
                            <a href="../custom_work_mono.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт моноблоков</span>
                                </div>
                            </a>
                            <a href="../custom_work_notebook.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт ноутбуков</span>
                                </div>
                            </a>
                            <a href="../custom_work_pad.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт планшетов</span>
                                </div>
                            </a>
                            <a href="../custom_work_ebook.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт электронных книг</span>
                                </div>
                            </a>
                            <a href="../custom_work_apple.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт техники Apple</span>
                                </div>
                            </a>
                            <a href="../custom_work_monitor.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Ремонт мониторов</span>
                                </div>
                            </a>
                            <a href="../custom_work_1c.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Настройка 1С</span>
                                </div>
                            </a>
                            <a href="../custom_work_ur.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Обслуживание организаций</span>
                                </div>
                            </a>
                            <a href="../comments.html" class="h-service-button">
                                <div class="h-button-normalizer">
                                    <span class="">Отзывы</span>
                                </div>
                            </a>
                        </div>
                    </span>
                    <a href="../price.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Цены</span>
                        </div>
                    </a>
                    <a href="../sales.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Акции</span>
                        </div>
                    </a>
                    <a href="../warranty.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Гарантии</span>
                        </div>
                    </a>
                    <a href="../press.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Статьи</span>
                        </div>
                    </a>
                    <a href="../about.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>О нас</span>
                        </div>
                    </a>
                    <a href="../contacts.html" class="h-button">
                        <div class="h-button-normalizer">
                            <span>Контакты</span>
                        </div>
                    </a>
                </div>
                <a href="/" class="social-link-m"></a>
            </div>
        </div>
    </div>
    <div class="header-bottom-side">
        <a href="/" class="header-infocell header-infocell-1">
            <div class="justify start">
                <div class="h-logo"></div>
            </div>
        </a>
        <div class="header-infocell header-infocell-2 phone-animation">
            <div class="justify column">
                <div class="h-phone">(831) 424-99-90</div>
                <a href="/" class="h-service">Заказать звонок</a>
            </div>
        </div>
        <div class="header-infocell header-infocell-3">
            <div class="justify end">
                <div class="justify column i-start">
                    <a href="/" class="h-cell-3">Пн.-Сб.: с <b>10:00</b> до <b>19:00</b></a>
                    <a href="/" class="h-cell-4">г. Нижний Новгород,<br>пр-т. Ленина, 36, оф. 111</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="breadcrumbs">
            <a href="../index.html" class="cross-link">Главная</a>
            <span>&nbsp;/&nbsp;</span>
            <a href="../sales.html" class="cross-link-blue">Услуги</a>
        </div>
    </div>
    <div class="main-container-1 ">
        <a href="../custom_work_pc.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-1"></div>
                <div class="main-top-text">Ремонт<br>компьютеров</div>
            </div>
        </a>
        <a href="../custom_work_notebook.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-2"></div>
                <div class="main-top-text">Ремонт<br>ноутбуков</div>
            </div>
        </a>
        <a href="../custom_work_pad.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-3"></div>
                <div class="main-top-text">Ремонт<br>планшетов</div>
            </div>
        </a>
        <a href="../custom_work_ebook.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-4"></div>
                <div class="main-top-text">Ремонт<br>электронных книг</div>
            </div>
        </a>
        <a href="../custom_work_apple.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-5"></div>
                <div class="main-top-text">Ремонт<br>техники Apple</div>
            </div>
        </a>
        <a href="../custom_work_phone.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-6"></div>
                <div class="main-top-text">Ремонт<br>телефонов</div>
            </div>
        </a>
        <a href="../custom_work_1c.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-7"></div>
                <div class="main-top-text">Настройка 1С</div>
            </div>
        </a>
        <a href="../custom_work_ur.html" class="main-container-1-cell box-shadow">
            <div class="justify-mc-1">
                <div class="main-icon-8"></div>
                <div class="main-top-text">Обслуживание<br>организаций</div>
            </div>
        </a>
    </div>
    <!--Сервисные блоки окончание-->
    <div class="whitesmoke-bg">
        <div class="main-triangle-container white-triangle margin-t1">
            <div class="triangle">
                <div class="triangle-left"></div>
                <div class="triangle-right"></div>
            </div>
        </div>
        <div class="container padding-t-05">
            <div class="c-work-block-2">
                <div>
                    <div class="block-h">Ремонт I-phone 6 plus</div>
                    <div class="block-w-image"></div>
                    <div class="block-14">
                        <p>
                            Первым смартфоном компании Apple оснащенным большим экраном стал в 2014 году I-phone 6 plus. Размеры дисплея были значительно увеличены в сравнении с предыдущими поколениями – диагональ экрана составила 5,5 дюймов. Помимо всего прочего производитель добавил мощности, оснастив устройство обновленным и улучшенным процессором Apple A9. Перечислять все сверхмодные нововведения и улучшения, которые тогда получил Iphone 6 plus можно еще довольно долго, поэтому остановимся на вышеперечисленных.
                        </p>
                        <p>
                            Что же касается такого важного для многих пользователей параметра как прочность и надежность смартфона, то здесь особых чудес производитель не придумал. Как и прежде корпус был выполнен из прочного алюминиевого сплава и установлено стекло повышенной устойчивости, защищающее дисплей от царапин.
                        </p>
                        <p>
                            Почему же тогда Iphone 6 plus ломаются?
                        </p>
                        <p>
                            Во-первых, не стоит забывать, что неаккуратное обращение с техникой всегда приводит к возникновению частых поломок и тут, как говорится, даже алюминиевый корпус не поможет.
                        </p>
                        <p>
                            Во-вторых, любая техника несовершенна и может давать сбои в своей работе, тут «яблочные» гаджеты не являются исключением.
                        </p>
                        <p>
                            С какими же поломками чаще всего приходится сталкиваться владельцам Iphone 6 plus?
                        </p>
                        <p>
                            Вот некоторые из них:
                        </p>
                        <ul>
                            <li>
                                разбиты экран или стекло;
                            </li>
                            <li>
                                в смартфон попала жидкость;
                            </li>
                            <li>
                                перестала работать кнопка включения/блокировки;
                            </li>
                            <li>
                                поврежден корпус;
                            </li>
                            <li>
                                не работает динамик, микрофон или камера;
                            </li>
                            <li>
                                телефон не держит зарядку.
                            </li>
                        </ul>
                        <p>
                            Зачастую справиться со всеми этими поломками самостоятельно не получается. Причин тому как минимум две: нужны специальные инструменты для разборки устройства, а также знания и умения. Специалисты же сервисного центра «АЙТИ-НН» обладают и тем, и другим, поэтому решить вашу проблему и провести ремонт i-phone 6 plus в Нижнем Новгороде они смогут профессионально, качественно и максимально быстро.
                        </p>
                    </div>
                </div>
            </div>

            <div class="c-work-block-3">
                <div class="block-h3">Возможные<span class="ie-font-norm">&nbsp;</span>неисправности:</div>
                <div class="c-work-box-type-1 box-shadow">
                    <a href="" class="c-work-box-type-1-cell">
                        <div class="c-work-box-type-1-cell-center c-work-box-type-1-cell-center-1">Не включается</div>
                    </a>
                    <a href="" class="c-work-box-type-1-cell">
                        <div class="c-work-box-type-1-cell-center c-work-box-type-1-cell-center-2">Сильно шумит</div>
                    </a>
                    <a href="" class="c-work-box-type-1-cell">
                        <div class="c-work-box-type-1-cell-center c-work-box-type-1-cell-center-3">Выскакивает ошибка</div>
                    </a>
                    <a href="" class="c-work-box-type-1-cell">
                        <div class="c-work-box-type-1-cell-center c-work-box-type-1-cell-center-4">Зависает и тормозит</div>
                    </a>
                    <a href="" class="c-work-box-type-1-cell">
                        <div class="c-work-box-type-1-cell-center c-work-box-type-1-cell-center-5">Порнобанеры, вирусы<br>СМС-вымогатели</div>
                    </a>
                    <a href="" class="c-work-box-type-1-cell">
                        <div class="c-work-box-type-1-cell-center c-work-box-type-1-cell-center-6">Не грузится,<br>Не загружается</div>
                    </a>
                    <a href="" class="c-work-box-type-1-cell">
                        <div class="c-work-box-type-1-cell-center c-work-box-type-1-cell-center-7">Нет изображения</div>
                    </a>
                    <a href="" class="c-work-box-type-1-cell">
                        <div class="c-work-box-type-1-cell-center c-work-box-type-1-cell-center-8">Выключается</div>
                    </a>
                    <a href="" class="c-work-box-type-1-cell">
                        <div class="c-work-box-type-1-cell-center c-work-box-type-1-cell-center-9">Проблемы с интернетом</div>
                    </a>
                    <a href="" class="c-work-box-type-1-cell">
                        <div class="c-work-box-type-1-cell-center c-work-box-type-1-cell-center-10">Синий экран</div>
                    </a>
                    <a href="" class="c-work-box-type-1-cell">
                        <div class="c-work-box-type-1-cell-center c-work-box-type-1-cell-center-11">Не работает Wi-Fi</div>
                    </a>
                </div>
            </div>
            <div class="c-work-block-4">
                <div class="block-h3">Оказываем услуги:</div>
                <div class="c-work-box-type-2">
                    <div class="c-work-box-type-2-cell box-shadow">
                        <div class="justify">
                            <div class="c-work-box-type-2-img">
                                <img src="../assets/img/images/c-work/box-type-2/1.png" alt="Замена матрицы">
                            </div>
                            <div class="justify start full">
                                <a href="../custom_service_01.html" class="cross-link">Замена матрицы</a>
                            </div>
                        </div>
                        <div class="justify">
                            <div class="text-block-14">Цена: от <b class="blue-color">6 000 р.</b></div>
                            <div class="text-block-14">Гарантия: <b class="blue-color">36 мес.</b></div>
                        </div>
                    </div>
                    <div class="c-work-box-type-2-cell box-shadow">
                        <div class="justify">
                            <div class="c-work-box-type-2-img">
                                <img src="../assets/img/images/c-work/box-type-2/2.png" alt="Ремонт материнской платы">
                            </div>
                            <div class="justify start full">
                                <a href="../custom_service_02.html" class="cross-link">Ремонт материнской платы</a>
                            </div>
                        </div>
                        <div class="justify">
                            <div class="text-block-14">Цена: от <b class="blue-color">6 000 р.</b></div>
                            <div class="text-block-14">Гарантия: <b class="blue-color">36 мес.</b></div>
                        </div>
                    </div>
                    <div class="c-work-box-type-2-cell box-shadow">
                        <div class="justify">
                            <div class="c-work-box-type-2-img">
                                <img src="../assets/img/images/c-work/box-type-2/3.png" alt="Ремонт системы питания">
                            </div>
                            <div class="justify start full">
                                <a href="../custom_service_03.html" class="cross-link">Ремонт системы питания</a>
                            </div>
                        </div>
                        <div class="justify">
                            <div class="text-block-14">Цена: от <b class="blue-color">6 000 р.</b></div>
                            <div class="text-block-14">Гарантия: <b class="blue-color">36 мес.</b></div>
                        </div>
                    </div>
                    <div class="c-work-box-type-2-cell box-shadow">
                        <div class="justify">
                            <div class="c-work-box-type-2-img">
                                <img src="../assets/img/images/c-work/box-type-2/4.png" alt="Чистка системы охлаждения">
                            </div>
                            <div class="justify start full">
                                <a href="../custom_service_04.html" class="cross-link">Чистка системы охлаждения</a>
                            </div>
                        </div>
                        <div class="justify">
                            <div class="text-block-14">Цена: от <b class="blue-color">6 000 р.</b></div>
                            <div class="text-block-14">Гарантия: <b class="blue-color">36 мес.</b></div>
                        </div>
                    </div>
                    <div class="c-work-box-type-2-cell box-shadow">
                        <div class="justify">
                            <div class="c-work-box-type-2-img">
                                <img src="../assets/img/images/c-work/box-type-2/5.png" alt="Замена разъемов">
                            </div>
                            <div class="justify start full">
                                <a href="../custom_service_05.html" class="cross-link">Замена разъемов</a>
                            </div>
                        </div>
                        <div class="justify">
                            <div class="text-block-14">Цена: от <b class="blue-color">6 000 р.</b></div>
                            <div class="text-block-14">Гарантия: <b class="blue-color">36 мес.</b></div>
                        </div>
                    </div>
                    <div class="c-work-box-type-2-cell box-shadow">
                        <div class="justify">
                            <div class="c-work-box-type-2-img">
                                <img src="../assets/img/images/c-work/box-type-2/6.png" alt="Ремонт клавиатуры">
                            </div>
                            <div class="justify start full">
                                <a href="../custom_service_06.html" class="cross-link">Ремонт клавиатуры</a>
                            </div>
                        </div>
                        <div class="justify">
                            <div class="text-block-14">Цена: от <b class="blue-color">6 000 р.</b></div>
                            <div class="text-block-14">Гарантия: <b class="blue-color">36 мес.</b></div>
                        </div>
                    </div>
                    <div class="c-work-box-type-2-cell box-shadow">
                        <div class="justify">
                            <div class="c-work-box-type-2-img">
                                <img src="../assets/img/images/c-work/box-type-2/7.png" alt="Ремонт системы охлаждения">
                            </div>
                            <div class="justify start full">
                                <a href="../custom_service_07.html" class="cross-link">Ремонт системы охлаждения</a>
                            </div>
                        </div>
                        <div class="justify">
                            <div class="text-block-14">Цена: от <b class="blue-color">6 000 р.</b></div>
                            <div class="text-block-14">Гарантия: <b class="blue-color">36 мес.</b></div>
                        </div>
                    </div>
                    <div class="c-work-box-type-2-cell box-shadow">
                        <div class="justify">
                            <div class="c-work-box-type-2-img">
                                <img src="../assets/img/images/c-work/box-type-2/8.png" alt="Модернизация">
                            </div>
                            <div class="justify start full">
                                <a href="../custom_service_08.html" class="cross-link">Модернизация</a>
                            </div>
                        </div>
                        <div class="justify">
                            <div class="text-block-14">Цена: от <b class="blue-color">6 000 р.</b></div>
                            <div class="text-block-14">Гарантия: <b class="blue-color">36 мес.</b></div>
                        </div>
                    </div>
                    <div class="c-work-box-type-2-cell box-shadow">
                        <div class="justify">
                            <div class="c-work-box-type-2-img">
                                <img src="../assets/img/images/c-work/box-type-2/10.png" alt="Ремонт после залития">
                            </div>
                            <div class="justify start full">
                                <a href="../custom_service_10.html" class="cross-link">Ремонт после залития</a>
                            </div>
                        </div>
                        <div class="justify">
                            <div class="text-block-14">Цена: от <b class="blue-color">6 000 р.</b></div>
                            <div class="text-block-14">Гарантия: <b class="blue-color">36 мес.</b></div>
                        </div>
                    </div>
                    <div class="c-work-box-type-2-cell box-shadow">
                        <div class="justify">
                            <div class="c-work-box-type-2-img">
                                <img src="../assets/img/images/c-work/box-type-2/11.png" alt="Замена северного&nbsp;/&nbsp;южного моста">
                            </div>
                            <div class="justify start full">
                                <a href="../custom_service_11.html" class="cross-link">Замена северного&nbsp;/&nbsp;южного моста</a>
                            </div>
                        </div>
                        <div class="justify">
                            <div class="text-block-14">Цена: от <b class="blue-color">6 000 р.</b></div>
                            <div class="text-block-14">Гарантия: <b class="blue-color">36 мес.</b></div>
                        </div>
                    </div>
                    <div class="c-work-box-type-2-cell box-shadow">
                        <div class="justify">
                            <div class="c-work-box-type-2-img">
                                <img src="../assets/img/images/c-work/box-type-2/12.png" alt="Замена графического процессора">
                            </div>
                            <div class="justify start full">
                                <a href="../custom_service_12.html" class="cross-link">Замена графического процессора</a>
                            </div>
                        </div>
                        <div class="justify">
                            <div class="text-block-14">Цена: от <b class="blue-color">6 000 р.</b></div>
                            <div class="text-block-14">Гарантия: <b class="blue-color">36 мес.</b></div>
                        </div>
                    </div>
                    <div class="c-work-box-type-2-cell box-shadow">
                        <div class="justify">
                            <div class="c-work-box-type-2-img">
                                <img src="../assets/img/images/c-work/box-type-2/14.png" alt="Восстановление данных">
                            </div>
                            <div class="justify start full">
                                <a href="../custom_service_14.html" class="cross-link">Восстановление  данных</a>
                            </div>
                        </div>
                        <div class="justify">
                            <div class="text-block-14">Цена: от <b class="blue-color">6 000 р.</b></div>
                            <div class="text-block-14">Гарантия: <b class="blue-color">36 мес.</b></div>
                        </div>
                    </div>
                    <div class="c-work-box-type-2-cell box-shadow">
                        <div class="justify">
                            <div class="c-work-box-type-2-img">
                                <img src="../assets/img/images/c-work/box-type-2/13.png" alt="Установка Windows, под ключ">
                            </div>
                            <div class="justify start full">
                                <a href="../custom_service_09.html" class="cross-link">Установка Windows, под ключ</a>
                            </div>
                        </div>
                        <div class="justify">
                            <div class="text-block-14">Цена: от <b class="blue-color">6 000 р.</b></div>
                            <div class="text-block-14">Гарантия: <b class="blue-color">36 мес.</b></div>
                        </div>
                    </div>
                    <div class="c-work-box-type-2-cell box-shadow">
                        <div class="justify">
                            <div class="c-work-box-type-2-img">
                                <img src="../assets/img/images/c-work/box-type-2/13.png" alt="Установка ПО, драйверов">
                            </div>
                            <div class="justify start full">
                                <a href="../custom_service_13.html" class="cross-link">Установка ПО, драйверов</a>
                            </div>
                        </div>
                        <div class="justify">
                            <div class="text-block-14">Цена: от <b class="blue-color">6 000 р.</b></div>
                            <div class="text-block-14">Гарантия: <b class="blue-color">36 мес.</b></div>
                        </div>
                    </div>

                    <div class="c-work-box-type-2-cell box-shadow">
                        <div class="justify">
                            <div class="c-work-box-type-2-img">
                                <img src="../assets/img/images/c-work/box-type-2/13.png" alt="Удаление вирусов, sms-вымогателей">
                            </div>
                            <div class="justify start full">
                                <a href="../custom_service_15.html" class="cross-link">Удаление вирусов, sms-вымогателей</a>
                            </div>
                        </div>
                        <div class="justify">
                            <div class="text-block-14">Цена: от <b class="blue-color">6 000 р.</b></div>
                            <div class="text-block-14">Гарантия: <b class="blue-color">36 мес.</b></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--перенос тексовых блоков под перечень услуг начало-->
            <!--блок 1-->
            <div class="c-work-text-block c-work-text-block-31">
                <h4>Цена ремонта или сколько придется заплатить</h4>
                <p>
                    Итоговая сумма расходов напрямую зависит от того, что именно вышло из строя в вашем Iphone и что следует заменить или отремонтировать. Как пример, если отошел шлейф кнопки включения, то устранение такой неполадки обойдется недорого, а вот в случае треснувшего экрана его замена обойдется владельцу намного дороже. Таким образом, общая стоимость ремонта i-phone 6 plus в нашем сервисе состоит из стоимости комплектующих плюс цена ремонтных работ. Отметим, что итоговая стоимость определяется в нашем сервисном центре сразу же после проведения диагностики и в обязательном порядке согласовывается с заказчиком.
                </p>
            </div>
            <!--блок 2-->
            <div class="c-work-text-block c-work-text-block-32">
                <h4>Почему нам доверяют клиенты</h4>
                <p>
                    Не будем хвастаться и приведем только несколько существенных аргументов:
                </p>
                <ul>
                    <li>
                        мы работаем на российском рынке уже более 5 лет, а это солидный опыт;
                    </li>
                    <li>
                        мы не накручиваем цены за счет навязывания второстепенных услуг, а это экономия для клиента;
                    </li>
                    <li>
                        мы комплексно подходим к выполнению своей работы, а это значит, что клиент получает непросто услугу ремонта, но еще может заказать доставку или проведение профессиональной диагностики сломанного устройства;
                    </li>
                    <li>
                        мы несем ответственность за выполненную нами работу, а это значит, что каждый клиент может рассчитывать на получение гарантии на все ремонтные работы.
                    </li>
                </ul>
            </div>
            <!--блок 3-->
            <div class="c-work-text-block c-work-text-block-33">
                <h4>Сколько времени потребуется на ремонт?</h4>
                <p>
                    При обращении в сервис вопрос сроков интересует чуть ли не каждого владельца сломанного устройства. И это понятно, ведь смартфон уже давно перешел из разряда телефонов в разряд некого мини компьютера, которым пользуются каждый день. Для многих пользователей довольно сложно обходиться без своего гаджета-помощника даже один день. С учетом всей важности вопроса в нашей компании срочный ремонт i-phone 6 plus проводится в течение 30–60 минут, если поломка простая и в течение 3 дней, если неисправность оказалась более сложной.
                </p>
            </div>
            <!--перенос тексовых блоков под перечень услуг окончание-->
        </div>
    </div>


    <div class="white-bg">
        <div class="main-triangle-container">
            <div class="triangle">
                <div class="triangle-left"></div>
                <div class="triangle-right"></div>
            </div>
        </div>
        <div class="container">
            <div class="c-work-block-5">
                <div class="c-work-block-5-normalizer box-shadow">
                    <div class="block-h1">Чем больше девайсов, тем больше скидка!</div>
                    <div class="img-block-5">
                        <div class="justify">
                            <a href="" class="carousel-arrow"></a>
                            <a href="" class="carousel-arrow"></a>
                        </div>
                    </div>
                    <div class="text-block-14">
                        Принесите на ремонт сразу 2 устройства и получите скидку 10% на каждое, 3 устройства - скидка 15% на каждое!
                    </div>
                </div>
                <div class="justify start">
                    <a href="" class="trial-carousel"></a>
                    <a href="" class="trial-carousel"></a>
                    <a href="" class="trial-carousel"></a>
                </div>
            </div>
            <div class="c-work-block-6 img-contact-cell box-shadow">
                <div class="block-h1">Оформите заявку онлайн и
                    <span class="blue-color">получите скидку 10 %</span>
                </div>
                <div class="justify i-stretch">
                    <div class="input-block grow">
                        <form method="post">
                            <input class="input-class-check" type="text" name="check" placeholder="Выберите услугу">
                            <input class="input-class-name" type="tel" name="login" placeholder="Ваше имя">
                            <input class="input-class-phone" type="tel" name="phone" placeholder="Телефон">
                        </form>
                    </div>
                    <img class="img-operator" src="../assets/img/icons/img_operator.png">
                </div>
                <div class="justify padding-l-05">
                    <a href="" class="button-about">Отправить</a>
                    <div class="text-block-12 padding-l-1">Наш мастер перезвоним Вам в течении 3-4 минут</div>
                </div>
            </div>

        </div>
    </div>
</main>
<footer class="footer-all">
    <div class="footer-outer-container">
        <a href="/" class="footer-top-cell-1"></a>
        <div class="footer-top-cell-2">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    г. Нижний новгород,<br>пр-т. Ленина, 36, оф. 111
                </div>
            </div>
        </div>
        <div class="footer-top-cell-3">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    Пн.-Сб.: с 10:00 до 19:00<br>Вс.: выходной
                </div>
            </div>
        </div>
        <div class="footer-top-cell-4">
            <div class="justify column center i-end">
                <div class="footer-contacts">
                    <div class="footer-contacts-phone">(831) 424-99-90</div>
                    <a href="" class="footer-contacts-info">Заказать звонок</a>
                </div>
            </div>
        </div>
        <div class="footer-middle-line span-12 omega"></div>
        <div class="footer-bottom-cell span-12 omega">
            <div class="justify">
                <div>
                    <span>© 2016 СЕРВИСНЫЙ ЦЕНТР «АЙТИ-НН»,&nbsp;</span>
                    <span class="white-space">Все права защищены</span>
                </div>
                <a href="/" class="social-link-m"></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>