.carousel-arrow {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background: url('../img/icon/icon_arrows.png') center no-repeat;
  &:last-child {
    background: url('../img/icon/icon_arrows-right.png') center no-repeat;
  }
  &:hover{
    opacity: 0.5;
    background-color: $blue;
  }
}

.carousel-arrow-mini {
  display: inline-block;
  width: 2rem;
  height: 3rem;
  background: url('../img/icon/icon_arrows-mini.png') center no-repeat;
  &:last-child {
    transform: rotate(180deg);
  }
  &:hover{
    background-color: $whitesmoke;
  }
}